Repository gallery-so/gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: web, mobile, shared

.github/labeler.yml:

web:
  - apps/web/**

mobile:
  - apps/mobile/**

shared:
  - packages/shared/**

chagnes
  apps/mobile/src/components/ProfileView/SocialPills/ProfileViewLensPill.tsx
  apps/mobile/src/components/ProfileView/SocialPills/ProfileViewTwitterPill.tsx
Labels: mobile

address comments
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/hooks/api/posts/useCreatePost.ts
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
Labels: web

use CommunityProfilePicture instead of RawProfilePicture
  apps/web/src/components/ProfilePicture/CommunityProfilePictureStack.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedCommunitiesList.tsx
Labels: web

fix typecheck issue
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedCommunities.tsx
Labels: web

updated look
  apps/web/src/components/Feed/PostItem.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/Feed/Posts/PostNfts.tsx
Labels: web

lint + typecheck
  apps/web/src/scenes/CommunityPage/CommunityPageCollectorsTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
Labels: web

enable base
  packages/shared/src/utils/chains.ts
Labels: shared

Enable support for Base Chain (#1776)
  packages/shared/src/utils/chains.ts
Labels: shared

top level listener
  apps/web/src/contexts/AppProvider.tsx
  apps/web/src/contexts/fullPageNftDetailModalListener/FullPageNftDetailModalListener.tsx
Labels: web

deprecate listener hook
  apps/web/src/scenes/CollectionGalleryPage/CollectionGalleryPage.tsx
  apps/web/src/scenes/NftDetailPage/useDisplayFullPageNftDetailModal.tsx
  apps/web/src/scenes/UserActivityPage/UserActivity.tsx
  apps/web/src/scenes/UserGalleryPage/FocusedGalleryPage.tsx
  apps/web/src/scenes/UserGalleryPage/UserGallery.tsx
Labels: web

add `CommunityFollowList` & `CommunityFollowCard` components
  apps/mobile/src/components/CommunitiesFollowList/CommunityFollowCard.tsx
  apps/mobile/src/components/CommunitiesFollowList/CommunityFollowList.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
Labels: mobile

refactor progress
  apps/web/src/components/Feed/Events/FeedEventNftPreviewWrapper.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/NftPreview/CollectionTokenPreview.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/contexts/fullPageNftDetailModalListener/FullPageNftDetailModalListener.tsx
  apps/web/src/contexts/globalLayout/useStabilizedRouteTransitionKey.ts
  apps/web/src/scenes/NftDetailPage/LinkToTokenDetailView.tsx
Labels: web

move anchor tag
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/scenes/NftDetailPage/LinkToTokenDetailView.tsx
Labels: web

remove unused onClick from PostNftPreview
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
Labels: web

refactor PostDropdown
  apps/web/src/components/Feed/Posts/PostDropdown.tsx
Labels: web

deprecate useTokenDetailModal
  apps/web/src/hooks/useTokenDetailModal.tsx
Labels: web

unfuck route stabilization
  apps/web/src/contexts/globalLayout/useStabilizedRouteTransitionKey.ts
  apps/web/src/scenes/NftDetailPage/LinkToTokenDetailView.tsx
Labels: web

try lazy loading
  apps/web/src/contexts/AppProvider.tsx
Labels: web

rename
  apps/web/src/components/Feed/Posts/PostDropdown.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/contexts/fullPageNftDetailModalListener/FullPageNftDetailModalListener.tsx
  apps/web/src/scenes/NftDetailPage/LinkToFullPageNftDetailModal.tsx
  apps/web/src/scenes/UserGalleryPage/UserNameAndDescriptionHeader.tsx
Labels: web

fix typecheck issues
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedCommunities.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedCommunitiesList.tsx
Labels: web

comments
  apps/web/src/contexts/AppProvider.tsx
  apps/web/src/contexts/fullPageNftDetailModalListener/FullPageNftDetailModalListener.tsx
  apps/web/src/scenes/NftDetailPage/LinkToFullPageNftDetailModal.tsx
Labels: web

fix comments
  apps/web/src/contexts/fullPageNftDetailModalListener/FullPageNftDetailModalListener.tsx
Labels: web

meme
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
Labels: web

[GAL-3618] Add support for Posts on Community Pages (#1752)
  apps/web/pages/community/[chain]/[contractAddress]/index.tsx
  apps/web/src/components/Feed/FeedItem.tsx
  apps/web/src/components/Feed/FeedList.tsx
  apps/web/src/components/Feed/Posts/DeletePostConfirmation.tsx
  apps/web/src/components/Feed/Posts/PostDropdown.tsx
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/Posts/PostComposerModal.tsx
  apps/web/src/components/ProfilePicture/RawProfilePicture.tsx
  apps/web/src/components/core/GalleryLink/GalleryLink.tsx
  apps/web/src/components/core/IconContainer.tsx
  apps/web/src/components/core/InteractiveLink/InteractiveLink.tsx
  apps/web/src/hooks/api/posts/useCreatePost.ts
  apps/web/src/hooks/api/posts/useDeletePost.ts
  apps/web/src/icons/PlusSquareIcon.tsx
  apps/web/src/icons/ShareIcon.tsx
  apps/web/src/scenes/CommunityPage/CommunityPage.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageCollectorsTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageTabs.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageViewHeader.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  packages/shared/src/utils/wallet.ts
Labels: web, shared

more changes
  .github/workflows/labeler.yml
  apps/mobile/src/components/Feed/FeedListSectionHeader.tsx
  apps/mobile/src/screens/SearchScreen.tsx
  apps/web/src/contexts/auth/Web3WalletContext.tsx
  packages/shared/src/utils/extractMirrorXyzUrl.ts
Labels: web, mobile, shared

reverts
  apps/web/src/contexts/auth/Web3WalletContext.tsx
  packages/shared/src/utils/extractMirrorXyzUrl.ts
Labels: web, shared
