Repository gallery-so/gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: web, mobile, shared

.github/labeler.yml:

web:
  - apps/web/**

mobile:
  - apps/mobile/**

shared:
  - packages/shared/**

on pull request
  .github/workflows/labeler.yml
Labels: none

eslint/no-implicit-coercion (#1757)
  .eslintrc.json
  apps/mobile/src/components/Community/CommunityHeader.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/web/pages/onboarding/add-email.tsx
  apps/web/src/components/Email/EmailForm.tsx
  apps/web/src/components/Feed/FeedList.tsx
  apps/web/src/components/Feed/dimensions.ts
  apps/web/src/components/HoverCard/HoverCard.tsx
  apps/web/src/components/NftPreview/CollectionTokenPreview.tsx
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/ProfilePicture/ProfilePictureStack.tsx
  apps/web/src/components/opengraph/SingleOpenGraphPreview.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CollectionSaveButtonWithCaption.tsx
  apps/web/src/hooks/api/feedEvents/useAdmireFeedEvent.ts
  apps/web/src/hooks/api/feedEvents/useCommentOnFeedEvent.ts
  apps/web/src/hooks/api/posts/useAdmirePost.ts
  apps/web/src/hooks/api/posts/useCommentOnPost.ts
  apps/web/src/scenes/MerchStorePage/PurchaseBox.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailView.tsx
  apps/web/src/scenes/UserGalleryPage/EditUserInfoModal.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollections.tsx
  apps/web/src/scenes/UserGalleryPage/UserNameAndDescriptionHeader.tsx
  apps/web/src/utils/browser.ts
Labels: web, mobile

change
  apps/mobile/src/screens/SearchScreen.tsx
Labels: mobile

Added comment post notification
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
Labels: mobile

clean
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/core/InteractiveLink/InteractiveLink.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageCollectorsTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
Labels: web

[GAL-3891] reduce the user bio and social pills for own profile (#1756)
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedInfo.tsx
Labels: mobile

fix type
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
Labels: web

lint
  apps/web/src/components/Posts/PostComposer.tsx
Labels: web

typecheck is messed
  apps/web/src/scenes/CommunityPage/CommunityPageCollectorsTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
Labels: web

add community id to test
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
Labels: web

use emitter
  apps/web/src/scenes/NftDetailPage/NftDetailPage.tsx
Labels: web

Renamed to PostComposerScreen
  apps/mobile/src/navigation/PostStackNavigator.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
Labels: mobile

- account for universal owners, grid view regression check, decrement post count upon delete"
  apps/web/src/components/Feed/Posts/DeletePostConfirmation.tsx
  apps/web/src/components/Feed/Posts/PostDropdown.tsx
  apps/web/src/hooks/api/posts/useDeletePost.ts
  apps/web/src/scenes/CommunityPage/CommunityPageCollectorsTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
Labels: web

Link to single post screen
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/navigation/MainTabNavigator/TabBar.tsx
  apps/mobile/src/navigation/MainTabStackNavigator.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
Labels: mobile

base working
  apps/web/src/components/Posts/DiscardPostConfirmation.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/contexts/modal/AnimatedModal.tsx
  apps/web/src/contexts/modal/ModalContext.tsx
Labels: web

acc working
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
Labels: web

some cleanup
  apps/web/src/components/MultiGallery/DiscardPostConfirmation.tsx
  apps/web/src/components/Posts/DiscardPostConfirmation.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
Labels: web

cleanup
  apps/web/src/components/Posts/DiscardPostConfirmation.tsx
  apps/web/src/contexts/modal/ModalContext.tsx
Labels: web

Add size and font weight support to btn
  apps/mobile/src/components/Button.tsx
Labels: mobile

Added new token notification
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
Labels: mobile

base
  apps/web/src/components/Follow/FollowList.tsx
Labels: web

able to post from notification
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
Labels: mobile

update post view on feed
  apps/web/src/components/Feed/FeedEventItem.tsx
  apps/web/src/components/Feed/FeedList.tsx
  apps/web/src/components/Feed/PostItem.tsx
  apps/web/src/components/Feed/Posts/PostData.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/Feed/Posts/PostNfts.tsx
Labels: web

original
  apps/web/src/components/Feed/PostItem.tsx
  apps/web/src/components/Feed/Posts/PostNfts.tsx
Labels: web

aligned center the comm name & description
  apps/mobile/src/components/Community/CommunityHeader.tsx
Labels: mobile

add community pfps in mutually owned pieces on the profile page (web)
  apps/web/src/components/ProfilePicture/CommunityProfilePictureStack.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedCommunities.tsx
Labels: web

Refactor token metadata extraction (#1754)
  README.md
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsEth.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsPOAP.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsTezos.tsx
  apps/web/src/components/Badge/Badge.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/AddWalletSidebar.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/PiecesSidebar.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarChainButton.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarChainDropdown.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarTokens.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarWalletSelector.tsx
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterNetwork.tsx
  apps/web/src/components/NftSelector/NftSelectorView.tsx
  apps/web/src/components/Search/Community/CommunitySearchResult.tsx
  apps/web/src/components/WalletSelector/multichain/MultichainWalletSelector.tsx
  apps/web/src/components/WalletSelector/multichain/WalletButton.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftAdditionalDetailsPOAP.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftAdditionalDetailsTezos.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftDetailsExternalLinksEth.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedCommunities.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedCommunitiesList.tsx
  apps/web/src/utils/doesUserOwnWalletFromChainFamily.ts
  apps/web/src/utils/getCommunityUrlForToken.ts
  packages/shared/package.json
  packages/shared/src/utils/chains.ts
  packages/shared/src/utils/extractPoapMetadata.ts
  packages/shared/src/utils/extractRelevantMetadataFromToken.ts
  packages/shared/src/utils/getFormattedDate.ts
  packages/shared/src/utils/getOpenseaExternalUrl.ts
  packages/shared/src/utils/getProhibitionUrl.ts
  packages/shared/src/utils/getTezosExternalUrl.ts
  packages/shared/src/utils/processProjectUrl.ts
  yarn.lock
Labels: web, mobile, shared

abstract the community tabs header
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
Labels: mobile

cleanup
  packages/shared/src/components/TokenViewEmitter.tsx
Labels: shared

req changes
  apps/web/src/components/Posts/DiscardPostConfirmation.tsx
  apps/web/src/components/Posts/PostComposerModal.tsx
Labels: web

Add feature flag
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/components/GalleryTabs/GalleryTabsContainer.tsx
Labels: mobile

wip start showing lens handles
  apps/web/src/icons/LensIcon.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryHeader.tsx
  apps/web/src/scenes/UserGalleryPage/UserLensSection.tsx
Labels: web

Remove ff in usePost
  apps/mobile/src/components/Feed/Posts/DeletePostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
  apps/mobile/src/screens/PostScreen/usePost.tsx
Labels: mobile

adjust comment box height dynamically
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
Labels: mobile

move emitter to NftDetailView
  apps/web/src/scenes/NftDetailPage/NftDetailPage.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
Labels: web

maintenance
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
  apps/web/src/scenes/MaintenancePage/MaintenancePage.tsx
  schema.graphql
Labels: web

lints
  apps/web/src/contexts/globalLayout/GlobalBanner/GlobalBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
  packages/shared/src/utils/processProjectUrl.ts
Labels: web, shared

branches
  .github/workflows/labeler.yml
Labels: none

Aug 2023 Maintenance (#1765)
  apps/web/src/contexts/globalLayout/GlobalBanner/GlobalBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
  apps/web/src/scenes/MaintenancePage/MaintenancePage.tsx
  packages/shared/src/utils/processProjectUrl.ts
  schema.graphql
Labels: web, shared

add community avatar in the `AnimatedModal` component for `SharedCommunitiesList`
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedCommunitiesList.tsx
Labels: web
