Repository gallery-so/gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: web, mobile, shared

fix typecheck issues
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedCommunities.tsx
Labels: web

req changes
  apps/web/src/components/Posts/DiscardPostConfirmation.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/contexts/modal/AnimatedModal.tsx
  apps/web/src/contexts/modal/ModalContext.tsx
Labels: web

schema
  schema.graphql
Labels: none

added to mobile
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
Labels: mobile

trending -> curated
  apps/web/src/components/Feed/TrendingThenGlobalFeed.tsx
Labels: web

looks much better
  apps/web/src/components/Posts/DiscardPostConfirmation.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
Labels: web

other req change
  apps/web/src/contexts/modal/AnimatedModal.tsx
Labels: web

ViewToken mutation (#1751)
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
  packages/shared/src/components/TokenViewEmitter.tsx
Labels: web, mobile, shared

[GAL-3844] add Close Confirmation warning to Post Composer (#1735)
  apps/web/src/components/Posts/DiscardPostConfirmation.tsx
  apps/web/src/components/Posts/PostComposerModal.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/contexts/modal/AnimatedModal.tsx
  apps/web/src/contexts/modal/ModalContext.tsx
Labels: web

base
  apps/mobile/src/components/Community/CommunityHeader.tsx
Labels: mobile

from prev pr
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsEth.tsx
Labels: mobile

add community avatar for mobile
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
Labels: mobile

bump with mobile change
  .moon/toolchain.yml
  .nvmrc
  apps/mobile/src/icons/BackIcon.tsx
  package.json
Labels: mobile

trigger mobile release
  .github/workflows/mobile-release.yml
Labels: none

comment added
  apps/mobile/src/components/Community/CommunityHeader.tsx
Labels: mobile

Node v16 -> v20 (#1769)
  .github/workflows/mobile-release.yml
  .moon/toolchain.yml
  .nvmrc
  apps/mobile/src/icons/BackIcon.tsx
  package.json
Labels: mobile

[GAL-3794] Truncate community descriptions properly on mobile (#1768)
  apps/mobile/src/components/Community/CommunityHeader.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsEth.tsx
Labels: mobile

bump node versions across github workflows
  .github/workflows/mobile-build.yml
  .github/workflows/mobile-release.yml
  .github/workflows/repo-lint.yml
  .github/workflows/repo-typecheck.yml
  .github/workflows/web.bundle-diff.yml
  .github/workflows/web.unit.yml
Labels: none

revert backicon
  apps/mobile/src/icons/BackIcon.tsx
Labels: mobile

fix typecheck issue
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
Labels: mobile

revert PR tests
  .github/workflows/mobile-build.yml
  .github/workflows/mobile-release.yml
Labels: none

Bump node versions across github workflows (#1770)
  .github/workflows/mobile-build.yml
  .github/workflows/mobile-release.yml
  .github/workflows/repo-lint.yml
  .github/workflows/repo-typecheck.yml
  .github/workflows/web.bundle-diff.yml
  .github/workflows/web.unit.yml
  apps/mobile/src/icons/BackIcon.tsx
Labels: mobile

hide unsupported notifications on web
  apps/web/src/components/Notifications/Notification.tsx
Labels: web

fix styling issues on mobile
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowers.tsx
Labels: mobile

hide unsupported notifications on web (#1771)
  apps/web/src/components/Notifications/Notification.tsx
Labels: web

clean up
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/components/Feed/Posts/DeletePostBottomSheet.tsx
Labels: mobile

reset navigation state on post
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
Labels: mobile

[GAL-3619] Update Community Page to show Posts (#1745)
  apps/mobile/src/components/Community/CommunityCollectors.tsx
  apps/mobile/src/components/Community/CommunityHeader.tsx
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityPosts.tsx
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/components/Feed/Posts/DeletePostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/components/GalleryTabs/GalleryTabBar.tsx
  apps/mobile/src/components/GalleryTabs/GalleryTabsContainer.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
  apps/mobile/src/screens/PostScreen/usePost.tsx
Labels: mobile

Add nft image & link to post for admire noti
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourPost.tsx
Labels: mobile

remove maintainance banner
  apps/web/src/contexts/globalLayout/GlobalBanner/GlobalBanner.tsx
  apps/web/src/scenes/UserGalleryPage/UserSocialPill.tsx
Labels: web

remove unintended file
  apps/web/src/scenes/UserGalleryPage/UserSocialPill.tsx
Labels: web

complete maintenance
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
Labels: web

complete aug 2023 maintenance (#1773)
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
Labels: web

Update admire/comment post styling
  apps/mobile/src/components/Notification/NotificationList.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourPost.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourFeedEvent.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowers.tsx
Labels: mobile

adjust layout on desktop, add to mobile
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/mobile/src/components/ProfileView/SocialPills/ProfileViewFarcasterPill.tsx
  apps/mobile/src/components/ProfileView/SocialPills/ProfileViewLensPill.tsx
  apps/mobile/src/icons/LensIcon.tsx
  apps/web/src/components/Pill.tsx
  apps/web/src/scenes/UserGalleryPage/UserFarcasterSection.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryHeader.tsx
  apps/web/src/scenes/UserGalleryPage/UserLensSection.tsx
  apps/web/src/scenes/UserGalleryPage/UserSocialPill.tsx
  apps/web/src/scenes/UserGalleryPage/UserTwitterSection.tsx
  schema.graphql
Labels: web, mobile

filter broken nft in notification
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
Labels: mobile

Add feature flag
  apps/mobile/src/components/Notification/NotificationList.tsx
Labels: mobile

Support stacked token
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/mobile/src/components/Notification/Notifications/NotificationTokenPreview.tsx
Labels: mobile

add scale support to post icon
  apps/mobile/src/navigation/MainTabNavigator/PostIcon.tsx
Labels: mobile

add post button to community
  apps/mobile/src/components/Community/CommunityMeta.tsx
Labels: mobile

.github/labeler.yml:

web:
  - apps/web/**

mobile:
  - apps/mobile/**

shared:
  - packages/shared/**
