Repository gallery-so/gallery, pull requests merged in 2023-09, with the labels that each got.

#1869 move collection page entry to pill on web + mobile
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/web/src/components/Feed/PostItem.tsx
  apps/web/src/components/Feed/Posts/PostCommunityPill.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  apps/web/src/components/HoverCard/HoverCardOnCommunity.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
Labels: mobile, web

#1874 rename Curated to For You
  apps/mobile/src/navigation/FeedTabNavigator/TabBar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/HomeNavbar/HomeNavbar.tsx
Labels: mobile, web

#1875 show Trending instead of For You if signed out
  apps/web/src/contexts/globalLayout/GlobalNavbar/HomeNavbar/HomeNavbar.tsx
Labels: web

#1876 separate Latest to Latest and Following tabs
  apps/web/pages/following.tsx
  apps/web/src/components/Feed/LatestFollowingFeed.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/HomeNavbar/HomeNavbar.tsx
  apps/web/src/scenes/Home/Latest/FollowingToggleSection.tsx
  apps/web/src/scenes/Home/Latest/LatestFollowingPage.tsx
  apps/web/src/scenes/Home/Latest/LatestHomePage.tsx
Labels: web

#1872 [GAL4190] Created tab for Post Composer
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/utils/isFeatureEnabled.tsx
  apps/web/pages/onboarding/add-user-info.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/PiecesSidebar.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarChainDropdown.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/CollectionTitle.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/SidebarList.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/ToggleSpamIcon.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarTokens.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarViewSelector.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarWalletSelector.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/useTokenSearchResults.ts
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterNetwork.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterSort.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorViewSelector.tsx
  apps/web/src/components/core/Dropdown/DropdownItem.tsx
  apps/web/src/hooks/api/tokens/useSyncTokens.ts
  apps/web/src/scenes/CommunityPage/CommunityPageOwnershipRequiredModal.tsx
Labels: mobile, web

#1877 GAL-4177: fix content overflow on community hover card
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  apps/web/src/components/HoverCard/HoverCardCommunityInner.tsx
  apps/web/src/components/HoverCard/HoverCardOnCommunity.tsx
  apps/web/src/components/HoverCard/HoverCardOnUsername.tsx
  apps/web/src/components/HoverCard/HoverCardUsernameInner.tsx
  apps/web/src/components/ProfilePicture/RawProfilePicture.tsx
  apps/web/src/components/core/Spinner/Spinner.tsx
Labels: web

#1884 unescape comments
  apps/web/src/components/Feed/Socialize/CommentLine.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourPost.tsx
Labels: web

#1855 [GAL-4095] [GAL-4114] Enable Sign Up with Wallet
  apps/mobile/src/components/Login/ConnectWalletButton.tsx
  apps/mobile/src/components/WelcomeNewUser.tsx
  apps/mobile/src/navigation/LoginStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/mobile/src/screens/Login/navigateToNotificationUpsellOrHomeScreen.ts
  apps/mobile/src/screens/Onboarding/OnboardingProfileBioScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
  apps/mobile/src/screens/ProfileScreen/ProfileScreen.tsx
  apps/web/src/components/Announcement/AnnouncementList.tsx
  apps/web/src/components/Email/EmailForm.tsx
  apps/web/src/components/Follow/FollowListUserItem.tsx
  apps/web/src/components/Profile/UserInfoForm.tsx
  apps/web/src/components/Profile/useUserInfoForm.ts
  apps/web/src/components/TokenHolderList/TokenHolderListGalleryPreview.tsx
  apps/web/src/components/WalletSelector/multichain/MagicLinkLogin.tsx
  apps/web/src/utils/formatUrl.ts
  apps/web/src/utils/regex.test.tsx
  apps/web/src/utils/token.ts
  packages/shared/src/hooks/useAuthPayloadQuery.ts
  packages/shared/src/hooks/useCreateUser.ts
  packages/shared/src/hooks/useUpdateUser.ts
  packages/shared/src/hooks/useUserInfoFormIsUsernameAvailableQuery.ts
  packages/shared/src/utils/regex.ts
  packages/shared/src/utils/validators.ts
Labels: mobile, web, shared

#1886 Refactor getOptimisticUserInfo
  apps/web/src/components/Feed/Socialize/CommentsModal/FeedEventsCommentsModal.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/PostCommentsModal.tsx
  apps/web/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/web/src/components/Feed/Socialize/PostSocializeSection.tsx
  apps/web/src/components/NftSelector/useUpdateProfileImage.ts
  apps/web/src/hooks/api/feedEvents/useAdmireFeedEvent.ts
  apps/web/src/hooks/api/feedEvents/useCommentOnFeedEvent.ts
  apps/web/src/hooks/api/posts/useAdmirePost.ts
  apps/web/src/hooks/api/posts/useCommentOnPost.ts
  apps/web/src/utils/getOptimisticUserInfo.ts
  apps/web/src/utils/useOptimisticUserInfo.ts
Labels: web

#1888 Refactor web post composer for getting previews
  apps/web/src/components/NftSelector/NftSelectorToken.tsx
  apps/web/src/components/NftSelector/NftSelectorTokenPreview.tsx
  apps/web/src/components/NftSelector/NftSelectorView.tsx
  apps/web/src/components/NftSelector/RawNftSelectorPreviewAsset.tsx
  apps/web/src/components/NftSelector/groupNftSelectorCollectionsByAddress.ts
  apps/web/src/components/Posts/PostComposerAsset.tsx
Labels: web

#1889 Disable post live rendering on mobile web
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
Labels: web

#1891 Deprecate sorting sidebar tokens by errored IDs
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/SidebarList.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarNftIcon.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarTokens.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/createVirtualizedRowsFromGroups.ts
Labels: web, shared

#1893 [GAL-4224] Show Beta Tester Modal
  apps/web/next.config.js
  apps/web/pages/gallery/[galleryId]/edit.tsx
  apps/web/src/components/GalleryEditor/BetaAnnouncementModal.tsx
  schema.graphql
Labels: web, schema

#1882 Move filterTokenByWallet logic in SidebarPieces to parent
  apps/web/src/components/GalleryEditor/PiecesSidebar/PiecesSidebar.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarTokens.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/createVirtualizedRowsFromGroups.ts
  apps/web/src/components/GalleryEditor/PiecesSidebar/groupCollectionsByAddress.ts
Labels: web

#1879 [GAL-4194] Bump comment character limit to 300
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
  apps/web/src/components/Feed/Socialize/CommentBox/CommentBox.tsx
Labels: mobile, web

#1881 [GAL-4196] Add navigation in mobile comments modal
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
Labels: mobile

#1895 [GAL-4226] Deep Link to Post
  apps/mobile/src/components/DeepLinkRegistrar.tsx
Labels: mobile

#1892 Refactor boundaries, fallbacks, add `shouldThrow` prop
  apps/web/src/components/CommunityHolderGrid/CommunityHolderGridItem.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/SortableStagedNft.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/StagedItemDragging.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/StagedNftImage.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/StagedNftImageDragging.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarNftIcon.tsx
  apps/web/src/components/NftFailureFallback/NftFailureBoundary.tsx
  apps/web/src/components/NftFailureFallback/NftFailureFallback.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/components/NftSelector/NftSelectorPreviewAsset.tsx
  apps/web/src/components/NftSelector/NftSelectorToken.tsx
  apps/web/src/components/NftSelector/RawNftSelectorPreviewAsset.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
  apps/web/src/components/Notifications/notifications/NotificationPostPreview.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourPost.tsx
  apps/web/src/components/Posts/PostComposerAsset.tsx
  apps/web/src/components/ProfilePicture/ProfilePicture.tsx
  apps/web/src/contexts/NftErrorContext.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailAsset.tsx
  packages/shared/src/errors/StillLoadingNftError.ts
  packages/shared/src/relay/getPreviewImageUrlsInlineDangerously.ts
  packages/shared/src/relay/useGetPreviewImages.ts
Labels: web, shared

#1896 Refactor NFT Preview
  apps/web/src/components/Feed/Events/FeedEventNftPreviewWrapper.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/NftPreview/CollectionTokenPreview.tsx
  apps/web/src/components/NftPreview/GalleryNftPreviewWrapper.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/components/NftPreview/NftPreviewAsset.tsx
Labels: web

#1885 Refactor extracting preview image URLs from assets
  apps/web/pages/opengraph/collection/[collectionId].tsx
  apps/web/pages/opengraph/gallery/[galleryId].tsx
  apps/web/pages/opengraph/nft/[tokenId].tsx
  apps/web/pages/opengraph/post/[postId].tsx
  apps/web/pages/opengraph/user/[username].tsx
  apps/web/src/components/CommunityHolderGrid/CommunityHolderGridItem.tsx
  apps/web/src/components/Feed/Events/FeedEventNftPreviewWrapper.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/FeedEventsCommentsModal.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/PostCommentsModal.tsx
  apps/web/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/web/src/components/Feed/Socialize/PostSocializeSection.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/SortableStagedNft.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/StagedItemDragging.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/StagedNftImage.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/StagedNftImageDragging.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/SidebarList.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarNftIcon.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarTokens.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/createVirtualizedRowsFromGroups.ts
  apps/web/src/components/NftFailureFallback/NftFailureBoundary.tsx
  apps/web/src/components/NftFailureFallback/NftFailureFallback.tsx
  apps/web/src/components/NftPreview/CollectionTokenPreview.tsx
  apps/web/src/components/NftPreview/GalleryNftPreviewWrapper.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/components/NftPreview/NftPreviewAsset.tsx
  apps/web/src/components/NftSelector/NftSelectorPreviewAsset.tsx
  apps/web/src/components/NftSelector/NftSelectorToken.tsx
  apps/web/src/components/NftSelector/NftSelectorTokenPreview.tsx
  apps/web/src/components/NftSelector/NftSelectorView.tsx
  apps/web/src/components/NftSelector/RawNftSelectorPreviewAsset.tsx
  apps/web/src/components/NftSelector/groupNftSelectorCollectionsByAddress.ts
  apps/web/src/components/NftSelector/useUpdateProfileImage.ts
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
  apps/web/src/components/Notifications/notifications/NotificationPostPreview.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourPost.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourPost.tsx
  apps/web/src/components/Posts/PostComposerAsset.tsx
  apps/web/src/components/ProfilePicture/ProfilePicture.tsx
  apps/web/src/contexts/NftErrorContext.tsx
  apps/web/src/contexts/globalLayout/GlobalAnnouncementPopover/components/FeaturedCollectorCard.tsx
  apps/web/src/contexts/globalLayout/GlobalAnnouncementPopover/components/GalleryOfTheWeekCard.tsx
  apps/web/src/hooks/api/feedEvents/useAdmireFeedEvent.ts
  apps/web/src/hooks/api/feedEvents/useCommentOnFeedEvent.ts
  apps/web/src/hooks/api/posts/useAdmirePost.ts
  apps/web/src/hooks/api/posts/useCommentOnPost.ts
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailAsset.tsx
  apps/web/src/utils/getOptimisticUserInfo.ts
  apps/web/src/utils/useOptimisticUserInfo.ts
  packages/shared/src/errors/StillLoadingNftError.ts
  packages/shared/src/relay/getPreviewImageUrlsInlineDangerously.ts
  packages/shared/src/relay/useGetPreviewImages.ts
Labels: web, shared

#1897 Display owner subtitle if owner
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
  apps/mobile/src/screens/NftDetailScreen/UniversalNftDetailScreenInner.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
Labels: mobile, web

#1894 Marfa Check In Flow
  apps/mobile/env/.env.dev
  apps/mobile/env/.env.local
  apps/mobile/env/.env.prod
  apps/mobile/env/env.js
  apps/mobile/src/components/BackButton.tsx
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/DeepLinkRegistrar.tsx
  apps/mobile/src/components/MarfaCheckIn/CheckInEmailEntry.tsx
  apps/mobile/src/components/MarfaCheckIn/CheckInForm.tsx
  apps/mobile/src/components/MarfaCheckIn/CheckInWalletSelection.tsx
  apps/mobile/src/components/MarfaCheckIn/MarfaCheckInSheet.tsx
  apps/mobile/src/constants/storageKeys.ts
  apps/mobile/src/icons/CircleCheckIcon.tsx
  apps/mobile/src/icons/SpinnerIcon.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/mobile/src/screens/SettingsScreen/DebugBottomSheet.tsx
Labels: mobile

#1899 [GAL-4178] fix view all wallet connect
  apps/mobile/babel.config.js
  apps/mobile/package.json
  yarn.lock
Labels: mobile, libraries

#1900 [GAL-4135] Long Contract name spills over in web nft selector
  apps/web/src/components/NftSelector/NftSelectorTokenPreview.tsx
Labels: web

#1901 [GAL-4258] Improve token global sync
  apps/mobile/src/App.tsx
  apps/mobile/src/components/Community/CommunityPostBottomSheet.tsx
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingProfileBioScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
Labels: mobile

#1902 [GAL-4259] include isBetaTester in events
  apps/mobile/src/contexts/MobileAnalyticsProvider.tsx
  apps/web/src/contexts/analytics/WebAnalyticsProvider.tsx
  packages/shared/src/contexts/AnalyticsContext.tsx
Labels: mobile, web, shared

#1904 Fix broken OS links, refactor
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsEth.tsx
  apps/web/src/components/CommunityHolderGrid/CommunityHolderGridItem.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftAdditionalDetailsEth.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftAdditionalDetailsTezos.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  packages/shared/src/utils/extractRelevantMetadataFromToken.ts
  packages/shared/src/utils/getOpenseaExternalUrl.ts
  packages/shared/src/utils/getProhibitionUrl.ts
  packages/shared/src/utils/getTezosExternalUrl.ts
  packages/shared/src/utils/hexToDec.ts
Labels: mobile, web, shared

#1903 Deeplink block comments
  apps/mobile/src/components/DeepLinkRegistrar.tsx
Labels: mobile

#1906 Ensure relevant fragments are refreshed after syncing complete
  apps/web/src/components/NftFailureFallback/NftFailureBoundary.tsx
Labels: web

#1887 [GAL-4124] Upsell banner for non-wallet user
  apps/mobile/src/App.tsx
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/components/Community/CommunityViewFallback.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/components/ProfileView/ProfileViewFallback.tsx
  apps/mobile/src/components/UpsellBanner.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
  apps/mobile/src/icons/SpinnerIcon.tsx
  apps/mobile/src/icons/XMarkIcon.tsx
  apps/mobile/src/navigation/MainTabNavigator/TabBar.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/CollectionScreen/CollectionScreen.tsx
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/GalleryScreen/GalleryScreen.tsx
  apps/mobile/src/screens/GalleryScreen/GalleryScreenFallback.tsx
  apps/mobile/src/screens/HomeScreen/HomeScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/mobile/src/screens/NotificationsScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingProfileBioScreen.tsx
  apps/mobile/src/screens/ProfileScreen/ProfileScreen.tsx
  apps/mobile/src/screens/SearchScreen.tsx
  apps/mobile/src/screens/SettingsProfileScreen.tsx
  apps/mobile/src/screens/SettingsScreen/NotificationSettingsScreen.tsx
  apps/mobile/src/screens/SettingsScreen/SettingsScreen.tsx
Labels: mobile

#1907 Mobile version bump 1.0.18
  apps/mobile/app.config.ts
Labels: mobile

#1908 Mobile version bump 1.0.19
  apps/mobile/app.config.ts
Labels: mobile

#1911 Change follow list item order
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
Labels: mobile

#1909 add simple hash to obfuscate event param
  apps/mobile/src/components/DeepLinkRegistrar.tsx
  apps/mobile/src/utils/hashString.tsx
Labels: mobile

#1910 [GAL-4227] truncate string in hover card
  apps/web/src/components/HoverCard/HoverCardCommunityInner.tsx
  apps/web/src/components/HoverCard/HoverCardOnUsername.tsx
  apps/web/src/components/HoverCard/HoverCardUsernameInner.tsx
  packages/shared/src/utils/regex.ts
  packages/shared/src/utils/wallet.ts
Labels: web, shared

#1905 [GAL-4263] [GAL-4264] Make links in Post description on mobile and web app are clickable
  apps/mobile/src/components/Feed/Posts/PostListCaption.tsx
  apps/mobile/src/components/Feed/Posts/WarningLinkBottomSheet.tsx
  apps/mobile/src/components/Markdown.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  packages/shared/src/utils/regex.ts
  packages/shared/src/utils/replaceUrlsWithMarkdownFormat.test.ts
  packages/shared/src/utils/replaceUrlsWithMarkdownFormat.ts
Labels: mobile, web, shared

#1914 [GAL-4136] fix scroll height in web view
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
Labels: web

#1916 Add Follow Back Button on mobile notifs
  apps/mobile/src/components/Notification/Notifications/SomeoneFollowedYou.tsx
Labels: mobile

#1917 Minor layout fix for community pages on mobile
  apps/mobile/src/components/Community/CommunityMeta.tsx
Labels: mobile

#1919 Lazy Load NftSelector & PostComposer
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/NftSelector/useNftSelector.tsx
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/Posts/PostComposerModal.tsx
  apps/web/src/components/Profile/EditUserInfoForm.tsx
  apps/web/src/components/Profile/ProfilePictureDropdown.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/contexts/relay/RelayProvider.tsx
  apps/web/src/hooks/api/tokens/useSyncTokens.ts
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  packages/shared/src/relay/missingFieldHandlers.ts
Labels: web, shared

#1920 GAL-4301 handle error in nft selector grid
  apps/mobile/src/components/NftPreview/NftPreviewErrorFallback.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
Labels: mobile

#1921 version bump 1.0.20
  apps/mobile/app.config.ts
Labels: mobile

#1922 fix input color in check in form for darkmode
  apps/mobile/src/components/MarfaCheckIn/CheckInEmailEntry.tsx
Labels: mobile

#1925 [GAL-4323] Fix regression upsell screen
  apps/mobile/src/screens/FeedEventScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/UniversalNftDetailScreen.tsx
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
Labels: mobile

#1929 [GAL-4314] Dismiss keyboard after commenting on mobile
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
Labels: mobile

#1927 make marfa check in wallet list scrollable
  apps/mobile/src/components/MarfaCheckIn/CheckInWalletSelection.tsx
Labels: mobile

#1928 [GAL-4298] Share button in "..." menu copies wrong url [mobile]
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
Labels: mobile

#1931 Enable links in comments
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/Socialize/CommentLine.tsx
  apps/web/src/components/Feed/Socialize/CommentLine.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageViewHeader.tsx
  apps/web/src/utils/formalUrl.test.ts
  apps/web/src/utils/formatUrl.ts
Labels: mobile, web

#1915 Refactor syncing, invalid media on mobile
  apps/mobile/src/App.tsx
  apps/mobile/src/components/Boundaries/TokenFailureBoundary.tsx
  apps/mobile/src/components/Feed/EventTokenGrid.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/components/Gallery/GalleryTokenPreview.tsx
  apps/mobile/src/components/NftPreview/NftPreview.tsx
  apps/mobile/src/components/NftPreview/NftPreviewAsset.tsx
  apps/mobile/src/components/NftPreview/NftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreview.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/Notification/NotificationPostPreview.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/mobile/src/components/Notification/Notifications/NotificationTokenPreview.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourPost.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/components/Post/PostTokenPreview.tsx
  apps/mobile/src/components/ProfileView/GalleryPreviewCard.tsx
  apps/mobile/src/components/SvgWebView.tsx
  apps/mobile/src/components/Trending/TrendingUserCard.tsx
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/contexts/TokenStateManagerContext.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/NftDetailAsset.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/NftDetailAssetCacheSwapper.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/NftDetailAssetHtml.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/NftDetailAssetImage.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/NftDetailAssetVideo.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
  apps/mobile/src/screens/NftDetailScreen/UniversalNftDetailScreenInner.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourPost.tsx
  packages/shared/src/relay/getVideoOrImageUrlForNftPreview.ts
  packages/shared/src/relay/useGetPreviewImages.ts
Labels: mobile, web, shared

#1934 Visual improvements to mobile token fallbacks
  apps/mobile/src/components/Boundaries/TokenFailureBoundary/TokenFailureBoundary.tsx
  apps/mobile/src/components/Boundaries/TokenFailureBoundary/TokenFailureFallbacks.tsx
  apps/mobile/src/components/NftPreview/NftPreview.tsx
  apps/mobile/src/components/NftPreview/NftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreview.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/Notification/NotificationPostPreview.tsx
  apps/mobile/src/components/Notification/Notifications/NotificationTokenPreview.tsx
  apps/mobile/src/components/Post/PostTokenPreview.tsx
  apps/mobile/src/icons/ErrorIcon.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
  apps/mobile/src/screens/NftDetailScreen/UniversalNftDetailScreenInner.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
Labels: mobile

#1924 [GAL-4309] tapping on a push notification, leads to the notification screen but stale
  apps/mobile/src/screens/NotificationsScreen.tsx
Labels: mobile

#1935 stuff i forgot in other PR
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorFilterBottomSheet.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
Labels: mobile

#1937 Cache the video on load
  apps/mobile/package.json
  apps/mobile/src/App.tsx
  apps/mobile/src/screens/Onboarding/OnboardingVideoScreen.tsx
  apps/mobile/src/screens/Onboarding/useCacheIntroVideo.ts
  yarn.lock
Labels: mobile, libraries

#1936 Follow Back button on mobile regression
  apps/mobile/src/components/Notification/Notifications/SomeoneFollowedYou.tsx
Labels: mobile

#1941 mobile version 1.0.21
  apps/mobile/app.config.ts
Labels: mobile

#1938 Fix mobile auth & upsell banner
  apps/mobile/src/components/Login/ConnectWalletButton.tsx
  apps/mobile/src/components/UpsellBanner.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
  apps/mobile/src/hooks/useLogin.ts
  apps/mobile/src/navigation/RootStackNavigator.tsx
Labels: mobile

#1926 [GAL-4257] "Connect Wallet" Upsell banner for email-only users [web]
  apps/web/src/components/Settings/ManageEmailSection/ManageEmailSection.tsx
  apps/web/src/components/UpsellBanner/UpsellBanner.tsx
  apps/web/src/components/WalletSelector/WalletSelector.tsx
  apps/web/src/components/WalletSelector/multichain/MultichainWalletSelector.tsx
  apps/web/src/components/core/GlobalBanner/GlobalBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalBanner/GlobalBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalBanner/MobileBetaReleaseBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalBanner/MobileBetaUpsell.tsx
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
  apps/web/src/hooks/useAddWalletModal.tsx
  apps/web/tests/graphql/mockGlobalLayoutQuery.ts
  schema.graphql
Labels: web, schema

#1939 Share-to-Gallery on Web
  apps/web/next.config.js
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorViewSelector.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/contexts/postComposer/PostComposerContext.tsx
  packages/shared/src/utils/chains.ts
Labels: web, shared

#1940 Wrap deeplink handler in try/catch to prevent crashes
  apps/mobile/src/components/DeepLinkRegistrar.tsx
Labels: mobile

#1923 [DO NOT MERGE] Enable posts on web and mobile
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/components/Notification/NotificationList.tsx
  apps/mobile/src/navigation/MainTabNavigator/MainTabNavigator.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/screens/HomeScreen/LatestScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
  apps/mobile/src/screens/ProfileScreen/ProfileScreen.tsx
  apps/mobile/src/utils/isFeatureEnabled.tsx
  apps/web/src/components/Feed/Events/CollectorsNoteAddedToTokenFeedEvent.tsx
  apps/web/src/components/Feed/FeedEventData.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPage.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailView.tsx
  apps/web/src/scenes/UserActivityPage/UserActivityFeed.tsx
  apps/web/src/utils/graphql/isFeatureEnabled.tsx
Labels: mobile, web

#1943 Enable posts for logged out users
  apps/web/pages/home.tsx
  apps/web/pages/latest/index.tsx
Labels: web

#1944 Fix composer regression, useClearURLQueryParams
  apps/web/src/components/Posts/PostComposerModal.tsx
  apps/web/src/components/Settings/Settings.tsx
  apps/web/src/utils/useClearURLQueryParams.ts
Labels: web

#1946 Deprecate Posts Beta Announcement Modal
  apps/web/pages/gallery/[galleryId]/edit.tsx
  apps/web/src/components/GalleryEditor/BetaAnnouncementModal.tsx
Labels: web

#1947 Fix broken token views on web
  apps/web/src/components/NftSelector/NftSelectorToken.tsx
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
Labels: web

#1949 mobile version bump 1.0.22
  apps/mobile/app.config.ts
Labels: mobile

#1948 Refreshable invalid tokens on mobile
  apps/mobile/src/components/Boundaries/TokenFailureBoundary/TokenFailureBoundary.tsx
  apps/mobile/src/components/Boundaries/TokenFailureBoundary/TokenFailureFallbacks.tsx
  apps/mobile/src/components/Notification/Notifications/NotificationTokenPreview.tsx
  apps/mobile/src/contexts/TokenStateManagerContext.tsx
Labels: mobile

#1950 Improving copy for Marfa
  apps/mobile/src/components/Login/SignInBottomSheet.tsx
  apps/mobile/src/components/MarfaCheckIn/CheckInWalletSelection.tsx
Labels: mobile

#1951 bump 1.0.22 -> 1.0.23
  apps/mobile/app.config.ts
Labels: mobile

#1952 update resonance proejct id
  apps/web/pages/community/[chain]/[contractAddress]/live.tsx
Labels: web

#1954 [GAL-4310] [GAL-4312] Pull-to-refresh on community page / Fix cut-off bio
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/components/GalleryTabs/GalleryTabsContainer.tsx
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
Labels: mobile

#1960 [GAL-4386] [GAL-4337] Fix can't post from community
  apps/web/src/contexts/postComposer/PostComposerContext.tsx
Labels: web

#1961 get correct first page for collection page posts, and also load more …
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/components/ProfileView/Tabs/ProfileViewActivityTab.tsx
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/ProfileScreen/ProfileScreen.tsx
Labels: mobile

#1967 fix full height issue for small iframes
  apps/web/src/components/NftPreview/NftPreview.tsx
Labels: web

#1964 GAL-4395 adjust color for admire count pill on dark mode
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowers.tsx
Labels: mobile

#1963 GAL-4394 vertically center search result if no second line
  apps/mobile/src/components/Search/SearchResult.tsx
Labels: mobile

#1962 [GAL-4175] Clean include posts flag
  apps/mobile/src/components/Feed/WorldwideFeed.tsx
  apps/mobile/src/components/ProfileView/Tabs/ProfileViewActivityTab.tsx
  apps/mobile/src/screens/HomeScreen/LatestScreen.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/PostScreen/usePost.tsx
  apps/mobile/src/screens/ProfileScreen/ProfileScreen.tsx
  apps/web/pages/[username]/activity.tsx
  apps/web/pages/home.tsx
  apps/web/pages/latest/index.tsx
  apps/web/src/components/Feed/CuratedFeed.tsx
  apps/web/src/components/Feed/LatestFeed.tsx
  apps/web/src/hooks/api/posts/useCreatePost.ts
  apps/web/src/scenes/UserActivityPage/UserActivityFeed.tsx
Labels: mobile, web

#1973 [GAL-4398] [GAL-4399] Fix UI spacing on mobile
  apps/mobile/src/components/Feed/Socialize/CommentLine.tsx
  apps/mobile/src/components/Feed/Socialize/RemainingCommentCount.tsx
  apps/mobile/src/components/Select.tsx
Labels: mobile

#1969 Fix infinite useClearURLQueryParams hooks trigger
  apps/web/src/utils/useClearURLQueryParams.ts
Labels: web

#1974 [GAL-3963] un-register notification token
  apps/mobile/src/hooks/useLogout.ts
Labels: mobile
