Repository gallery-so/gallery, pull requests merged in 2023-12, with the labels that each got.

#2149 minor admire nft polish
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
Labels: mobile

#2150 Replies web polish spacing
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentRepliedBanner.tsx
Labels: web

#2147 first post leaf
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/mobile/src/icons/LeafIcon.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  apps/web/src/icons/LeafIcon.tsx
  schema.graphql
Labels: mobile, web, schema

#2151 [mobile] bump version 1.0.34
  apps/mobile/app.config.ts
Labels: mobile

#2152 Improve replies web
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNoteSection.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
Labels: web

#2154 Remove survey banner
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
Labels: web

#2156 Disable snow for certain users
  apps/web/src/contexts/snow/SnowContext.tsx
Labels: web

#2153 Mobile Activity Badge
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/YouReceivedTopActivityBadge.tsx
  apps/mobile/src/components/ProfileView/BadgeProfileBottomSheet.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/icons/TopMemberBadgeIcon.tsx
  apps/mobile/src/utils/isFeatureEnabled.tsx
  packages/shared/src/analytics/constants.ts
Labels: mobile, shared

#2109 enable activity badge based on name
  apps/web/src/components/Badge/Badge.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/YouReceivedTopActivityBadge.tsx
  apps/web/src/scenes/UserGalleryPage/UserNameAndDescriptionHeader.tsx
  apps/web/src/utils/graphql/isFeatureEnabled.tsx
Labels: web

#2158 fix admire token text color not updating correctly
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
Labels: mobile

#2141 share post on x modal
  apps/web/src/components/Feed/Posts/PostDropdown.tsx
  apps/web/src/components/Posts/MiniPostOpenGraphPreview.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/Posts/SharePostModal.tsx
  apps/web/src/components/core/Input/Input.tsx
  apps/web/src/hooks/api/posts/useCreatePost.ts
  apps/web/src/icons/FarcasterIcon.tsx
  apps/web/src/icons/LensIcon.tsx
  apps/web/src/icons/TwitterIcon.tsx
Labels: web

#2160 Disable tablet support in app config
  apps/mobile/app.config.ts
Labels: mobile

#2161 Report copy tweak
  apps/mobile/src/components/ProfileView/BlockUserConfirmationForm.tsx
Labels: mobile

#2163 Show active badge in feed
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
Labels: mobile, web

#2162 Mobile Mint Link
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityPostBottomSheet.tsx
  apps/mobile/src/components/Feed/FeedVirtualizedRow.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Posts/PostListMintButtonSection.tsx
  apps/mobile/src/components/Feed/createVirtualizedFeedEventItems.ts
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/components/Post/PostInput.tsx
  apps/mobile/src/components/Post/PostMintLinkInput.tsx
  apps/mobile/src/components/Post/SupportedMintLinkBottomSheet.tsx
  apps/mobile/src/components/Toggle.tsx
  apps/mobile/src/icons/AlertIcon.tsx
  apps/mobile/src/icons/FxHashIcon.tsx
  apps/mobile/src/icons/InfoCircleIcon.tsx
  apps/mobile/src/icons/MintFunIcon.tsx
  apps/mobile/src/icons/ProhibitionIcon.tsx
  apps/mobile/src/icons/TopRightArrowIcon.tsx
  apps/mobile/src/screens/DesignSystemButtonsScreen.tsx
  apps/mobile/src/screens/Login/LandingScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/PostScreen/usePost.tsx
  apps/web/src/utils/getCommunityUrlForToken.ts
  packages/shared/src/utils/communities.ts
  packages/shared/src/utils/getMintUrlWithReferrer.test.ts
  packages/shared/src/utils/getMintUrlWithReferrer.ts
  schema.graphql
Labels: mobile, web, shared, schema

#2148 share x post bottom sheet on mobile
  apps/mobile/package.json
  apps/mobile/src/components/FadedInput.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/mobile/src/components/ProfileView/SocialPills/ProfileViewLensPill.tsx
  apps/mobile/src/icons/CloseBracket.tsx
  apps/mobile/src/icons/CopyIcon.tsx
  apps/mobile/src/icons/FarcasterIcon.tsx
  apps/mobile/src/icons/LensIcon.tsx
  apps/mobile/src/icons/OpenBracket.tsx
  apps/mobile/src/icons/TwitterIcon.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/mobile/src/screens/PostScreen/MiniPostOpenGraphPreview.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/PostScreen/SharePostBottomSheet.tsx
  yarn.lock
Labels: mobile, libraries

#2173 Fix new button typecheck
  apps/mobile/src/screens/PostScreen/SharePostBottomSheet.tsx
Labels: mobile

#2175 Fix overwriteURL detection for mint buttons
  apps/mobile/src/components/MintLinkButton.tsx
Labels: mobile

#2177 Display total comments + replies
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/web/src/components/Feed/Socialize/Comments.tsx
  schema.graphql
Labels: mobile, web, schema

#2178 nft detail skeleton on web
  apps/web/src/contexts/fullPageNftDetailModalListener/FullPageNftDetailModalListener.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPage.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPageFallback.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailPage.tsx
Labels: web

#2180 Include the opened push notification type
  apps/mobile/src/components/Notification/NotificationRegistrar.tsx
Labels: mobile

#2181 badge polish
  apps/web/src/components/Badge/Badge.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  apps/web/src/components/Notifications/notifications/YouReceivedTopActivityBadge.tsx
  apps/web/src/components/core/IconContainer.tsx
  apps/web/src/icons/LeafIcon.tsx
  apps/web/src/icons/TopActivityBadgeIcon.tsx
Labels: web

#2183 Fix feed randomly refetch on comment
  apps/web/src/hooks/api/posts/useCommentOnPost.ts
  apps/web/src/utils/useClearURLQueryParams.ts
Labels: web

#2185 Enable Activity Badges, tweak copy
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/mobile/src/components/Notification/Notifications/YouReceivedTopActivityBadge.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/utils/isFeatureEnabled.tsx
  apps/web/src/components/Badge/Badge.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/scenes/UserGalleryPage/UserNameAndDescriptionHeader.tsx
  apps/web/src/utils/graphql/isFeatureEnabled.tsx
Labels: mobile, web

#2182 move event element id + name into mint link component
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Feed/Posts/PostListMintButtonSection.tsx
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
Labels: mobile

#2187 [do not merge yet] Fix typecheck according to latest schema
  apps/web/pages/community/[chain]/[contractAddress]/live.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePresentation/CommunityPagePresentation.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePresentation/CommunityPagePresentationEmptyState.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePresentation/CommunityPagePresentationPosts.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePresentation/CommunityPagePresentationPostsCycle.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePresentation/CommunityPagePresentationScene.tsx
  schema.graphql
Labels: web, schema

#2188 Add SuperRare support to mint link
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/components/Post/SupportedMintLinkBottomSheet.tsx
  apps/mobile/src/icons/SuperRareIcon.tsx
  apps/web/src/components/MintLinkButton.tsx
  apps/web/src/components/Posts/PostComposerMintLinkInput.tsx
  apps/web/src/icons/SuperRareLogoIcon.tsx
  packages/shared/src/utils/getMintUrlWithReferrer.test.ts
  packages/shared/src/utils/getMintUrlWithReferrer.ts
Labels: mobile, web, shared

#2190 Polish Mint link web & mobile
  apps/mobile/src/components/Feed/Posts/PostListMintButtonSection.tsx
  apps/web/src/components/MintLinkButton.tsx
Labels: mobile, web

#2192 Add highlight + Update bottom sheet copy
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/components/Post/SupportedMintLinkBottomSheet.tsx
  apps/mobile/src/icons/HighlightIcon.tsx
  apps/web/src/components/MintLinkButton.tsx
  apps/web/src/components/Posts/PostComposerMintLinkInput.tsx
  apps/web/src/icons/HighlightLogoIcon.tsx
  packages/shared/src/utils/getMintUrlWithReferrer.test.ts
  packages/shared/src/utils/getMintUrlWithReferrer.ts
Labels: mobile, web, shared

#2194 Custom notification web
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/GalleryAnnouncement.tsx
  schema.graphql
Labels: web, schema

#2195 [GAL-4888] leaving gallery warning improvement
  apps/web/src/components/core/GalleryLink/VerifyNavigationPopover.tsx
Labels: web

#2196 update copy icon state on share post bottom sheet
  apps/mobile/src/screens/PostScreen/SharePostBottomSheet.tsx
Labels: mobile

#2197 [mobile] bump version 1.0.39
  apps/mobile/app.config.ts
Labels: mobile

#2189 [wait to merge until next release] Add admire comment on mobile
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetList.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetSection.tsx
  apps/mobile/src/components/Feed/Socialize/AdmireIcon.tsx
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationBottomSheetUserList.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourComment.tsx
  apps/mobile/src/hooks/useAdmireComment.ts
Labels: mobile

#2198 fix spelling typo
  apps/mobile/src/screens/PostScreen/SharePostBottomSheet.tsx
Labels: mobile

#2199 [GAL-4005] optimistically update Follow Button state
  packages/shared/src/relay/useFollowUser.ts
  packages/shared/src/relay/useUnfollowUser.ts
Labels: shared

#2200 Option to "liverender" images
  apps/web/src/components/NftPreview/NftPreview.tsx
Labels: web

#2201 Replace mint url token
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/web/src/components/MintLinkButton.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  schema.graphql
Labels: mobile, web, schema

#2202 fix composer header padding
  apps/web/src/components/Posts/PostComposer.tsx
Labels: web

#2204 Upgrade taquito to 17.5.0
  apps/web/package.json
  yarn.lock
Labels: web, libraries

#2205 Upgrade synpress to upgrade dependencies
  apps/web/package.json
  apps/web/src/hooks/useMintContractWithQuantity.tsx
  apps/web/src/utils/MerkleTree.ts
  package.json
  yarn.lock
Labels: web, libraries

#2206 Web Admire comment
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNoteSection.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourComment.tsx
  apps/web/src/hooks/api/feedEvents/useCommentOnFeedEvent.ts
  apps/web/src/hooks/api/posts/useAdmireComment.ts
  apps/web/src/hooks/api/posts/useCommentOnPost.ts
  apps/web/src/icons/SocializeIcons.tsx
Labels: web

#2208 Expand replies by default
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetList.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetSection.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/constants.ts
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNoteSection.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
Labels: mobile, web

#2207 upgrade eslint and related deps
  apps/mobile/package.json
  package.json
  yarn.lock
Labels: mobile, libraries

#2186 [GAL-3622] nft detail preloader on web
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/components/NftPreview/NftPreviewAsset.tsx
  apps/web/src/contexts/AppProvider.tsx
  apps/web/src/contexts/fullPageNftDetailModalListener/FullPageNftDetailModalListener.tsx
  apps/web/src/contexts/nftPreviewFallback/NftPreviewFallbackContext.tsx
  apps/web/src/hooks/useContainedDimensionsForToken.ts
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPage.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPageFallback.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailVideo.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailAsset.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailPage.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailView.tsx
  packages/shared/src/utils/fitDimensionsToContainer.ts
Labels: web, shared

#2209 update globe icon copy
  apps/web/src/scenes/CommunityPage/CommunityPageViewHeader.tsx
Labels: web

#2210 Add delete comment on mobile
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/DeleteCommentWarningBottomSheet.tsx
  apps/mobile/src/components/Feed/Socialize/Comments.tsx
  apps/mobile/src/hooks/useDeleteComment.ts
  apps/mobile/src/icons/InfoCircleIcon.tsx
  apps/mobile/src/icons/TrashIcon.tsx
Labels: mobile

#2211 Add delete comment for web
  apps/web/src/components/Feed/Socialize/Comments.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/DeleteCommentConfirmation.tsx
  apps/web/src/hooks/api/feedEvents/useCommentOnFeedEvent.ts
  apps/web/src/hooks/api/posts/useCommentOnPost.ts
  apps/web/src/hooks/api/posts/useDeleteComment.ts
Labels: web

#2203 Mobile subcommunities refactor
  apps/mobile/src/components/Boundaries/TokenFailureBoundary/TokenFailureBoundary.tsx
  apps/mobile/src/components/Boundaries/TokenFailureBoundary/TokenFailureFallbacks.tsx
  apps/mobile/src/components/CommunitiesList/CommunityCard.tsx
  apps/mobile/src/components/CommunitiesList/CommunityList.tsx
  apps/mobile/src/components/Community/CommunityCollectorsList.tsx
  apps/mobile/src/components/Community/CommunityHeader.tsx
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityPostBottomSheet.tsx
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/components/Feed/Posts/PostCreatorAndCollectionSection.tsx
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/components/Feed/Posts/PostListMintButtonSection.tsx
  apps/mobile/src/components/Gallery/GalleryTokenPreview.tsx
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/components/NftPreview/NftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourToken.tsx
  apps/mobile/src/components/Notification/Notifications/SomeonePostedYourWork.tsx
  apps/mobile/src/components/Post/PostInput.tsx
  apps/mobile/src/components/Post/PostTokenPreview.tsx
  apps/mobile/src/components/ProcessedText/elements/MentionComponent.tsx
  apps/mobile/src/components/ProfilePicture/CommunityProfilePicture.tsx
  apps/mobile/src/components/ProfilePicture/ProfilePicture.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
  apps/mobile/src/components/Search/Community/CommunitySearchResult.tsx
  apps/mobile/src/hooks/useNavigateToCommunityScreen.ts
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetails.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsEth.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsPOAP.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsTezos.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/NftDetailAsset.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/PostScreen/SharePostBottomSheet.tsx
  apps/mobile/src/screens/PostScreen/usePost.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/useTokenSearchResults.ts
  apps/web/src/components/NftSelector/groupNftSelectorCollectionsByAddress.ts
  packages/shared/src/components/GalleryProccessedText/GalleryTextElementParser.ts
  packages/shared/src/relay/getPreviewImageUrlsInlineDangerously.ts
  packages/shared/src/utils/extractRelevantMetadataFromCommunity.ts
  packages/shared/src/utils/extractRelevantMetadataFromToken.ts
  packages/shared/src/utils/getMintUrlWithReferrer.ts
  schema.graphql
Labels: mobile, web, shared, schema

#2191 Upgrade to moon v1.18
  apps/mobile/package.json
  apps/web/package.json
  package.json
  yarn.lock
Labels: mobile, web, libraries

#2214 fix optimistic update regression for token definitions
  apps/web/src/hooks/api/feedEvents/useAdmireFeedEvent.ts
  apps/web/src/hooks/api/feedEvents/useCommentOnFeedEvent.ts
  apps/web/src/hooks/api/posts/useAdmirePost.ts
  apps/web/src/hooks/api/posts/useAdmireToken.ts
  apps/web/src/hooks/api/posts/useCommentOnPost.ts
Labels: web

#2216 Follow Button Optimistic Update
  packages/shared/src/relay/useFollowUser.ts
  packages/shared/src/relay/useUnfollowUser.ts
Labels: shared
