Repository gallery-so/gallery, pull requests merged in 2023-10, with the labels that each got.

#1972 GAL-4339 add settings back to moweb
  apps/web/src/components/Settings/Settings.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryRightContent.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/hooks/useLogout.ts
  apps/web/src/scenes/Nuke/Nuke.tsx
Labels: web

#1976 Fix require cycle warning
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/components/ProfileView/Tabs/ProfileViewActivityTab.tsx
  apps/mobile/src/constants/feed.ts
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/ProfileScreen/ProfileScreen.tsx
Labels: mobile

#1970 [GAL-4387] Clear up provider after connect wallet
  apps/mobile/src/contexts/ManageWalletContext.tsx
Labels: mobile

#1975 Clean up Nft Detail Screen
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/mobile/src/screens/NftDetailScreen/UniversalNftDetailScreenInner.tsx
Labels: mobile

#1980 GAL-4169 rename Activity tab to Posts
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/web/pages/[username]/posts.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryNavLinks.tsx
  apps/web/src/scenes/UserActivityPage/UserActivityFeed.tsx
Labels: mobile, web

#1978 [GAL-4265] Clicking Back from Post Composer should return to Collection View
  apps/web/src/components/HoverCard/HoverCard.tsx
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/contexts/postComposer/PostComposerContext.tsx
Labels: web

#1981 Tweak refresh copy
  apps/web/src/components/NftSelector/NftSelector.tsx
Labels: web

#1982 Display total posts for profile on web, mobile
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/web/pages/[username]/index.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryNavLinks.tsx
Labels: mobile, web

#1984 Reduce spacing between shared elements in mobile profile header
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedInfo.tsx
Labels: mobile

#1989 [GAl-4435] NFT Detail Page share link on mobile is wrong url
  apps/mobile/src/utils/shareToken.ts
Labels: mobile

#1987 reduce the amount of list items rendered simultaneously
  apps/web/src/components/Feed/FeedList.tsx
Labels: web

#1985 Normalize fxhash contract name in community pills
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/web/src/components/Feed/Posts/PostCommunityPill.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  packages/shared/src/utils/extractRelevantMetadataFromToken.ts
  packages/shared/src/utils/getTezosExternalUrl.ts
Labels: mobile, web, shared

#1991 fxhash -> fx(hash)
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsTezos.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  packages/shared/src/utils/extractRelevantMetadataFromToken.ts
Labels: mobile, shared

#1993 Hide farcaster pill for christina
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryHeader.tsx
  packages/shared/src/hooks/useIsChristinaFromLens.ts
Labels: mobile, web, shared

#1994 fix typo
  apps/web/src/components/Follow/FollowListUserItem.tsx
Labels: web

#1995 Fix communities without a name
  apps/mobile/src/components/Community/CommunityHeader.tsx
  apps/mobile/src/components/ProfilePicture/CommunityProfilePicture.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/web/src/components/Feed/Posts/PostCommunityPill.tsx
  apps/web/src/components/HoverCard/CommunityHoverCard.tsx
  apps/web/src/components/ProfilePicture/CommunityProfilePicture.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageViewHeader.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedCommunitiesList.tsx
  packages/shared/src/utils/extractRelevantMetadataFromToken.ts
Labels: mobile, web, shared

#1986 GAL-4161 refactor how comments are rendered to solve wrapping
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Socialize/AdmireButton.tsx
  apps/mobile/src/components/Feed/Socialize/Admires.tsx
  apps/mobile/src/components/Feed/Socialize/CommentButton.tsx
  apps/mobile/src/components/Feed/Socialize/CommentLine.tsx
  apps/mobile/src/components/Feed/Socialize/Comments.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/components/Feed/Socialize/ProcessedCommentText.tsx
  apps/mobile/src/components/UsernameDisplay.tsx
Labels: mobile

#1999 fix lint
  apps/mobile/src/components/Feed/Socialize/Comments.tsx
Labels: mobile

#2001 Version bump 1.0.26
  apps/mobile/app.config.ts
Labels: mobile

#2002 Web instrumentation: Pills
  apps/web/src/components/Feed/Posts/PostCommunityPill.tsx
  apps/web/src/components/GalleryPill.tsx
  apps/web/src/components/Pill.tsx
  apps/web/src/components/Search/SearchFilter.tsx
  apps/web/src/components/core/InteractiveLink/InteractiveLink.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftAdditionalDetailsTezos.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftDetailsExternalLinksEth.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  apps/web/src/scenes/UserGalleryPage/UserFarcasterSection.tsx
  apps/web/src/scenes/UserGalleryPage/UserLensSection.tsx
  apps/web/src/scenes/UserGalleryPage/UserSocialPill.tsx
  apps/web/src/scenes/UserGalleryPage/UserTwitterSection.tsx
  packages/shared/src/analytics/constants.ts
Labels: web, shared

#2004 Web instrumentation: Chips
  apps/web/src/components/Announcement/AnnouncementList.tsx
  apps/web/src/components/Announcement/constants.ts
  apps/web/src/components/Announcement/useAnnouncement.tsx
  apps/web/src/components/Follow/FollowButton.tsx
  apps/web/src/components/core/Chip/Chip.tsx
  packages/shared/src/analytics/constants.ts
Labels: web, shared

#2005 overflow on comment in mobile
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
Labels: mobile

#2008 [GAl-4437] Address spacing in NFT detail view on mobile
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
Labels: mobile

#2010 Disable liverender on certain tokens
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  packages/shared/src/utils/extractRelevantMetadataFromToken.ts
  packages/shared/src/utils/getProhibitionUrl.ts
  packages/shared/src/utils/prohibition.test.ts
  packages/shared/src/utils/prohibition.ts
Labels: web, shared

#1992 [GAL-4417] Mobile mention
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentListFallback.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetList.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Posts/PostListCaption.tsx
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
  apps/mobile/src/components/Feed/Socialize/CommentLine.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/components/Feed/Socialize/ProcessedCommentText.tsx
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneMentionedYou.tsx
  apps/mobile/src/components/Post/PostInput.tsx
  apps/mobile/src/components/ProcessedText/ProcessedText.tsx
  apps/mobile/src/components/ProcessedText/TextElementParser.ts
  apps/mobile/src/components/ProcessedText/elements/LinkComponent.tsx
  apps/mobile/src/components/ProcessedText/elements/MentionComponent.tsx
  apps/mobile/src/components/Search/Community/CommunitySearchResult.tsx
  apps/mobile/src/components/Search/SearchResultFallback.tsx
  apps/mobile/src/components/Search/SearchResults.tsx
  apps/mobile/src/components/Search/User/UserSearchResult.tsx
  apps/mobile/src/hooks/useMentionableMessage.ts
  apps/mobile/src/hooks/usePostComment.ts
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/PostScreen/usePost.tsx
  apps/mobile/src/screens/SearchScreen.tsx
  apps/mobile/src/utils/isFeatureEnabled.tsx
  packages/shared/src/utils/regex.ts
  schema.graphql
Labels: mobile, shared, schema

#2014 Web Instrumentation: Dropdowns
  apps/web/src/components/Feed/Posts/PostDropdown.tsx
  apps/web/src/components/GalleryEditor/CollectionSidebar/CollectionListItem.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarChainDropdown.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarViewSelector.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarWalletSelector.tsx
  apps/web/src/components/MultiGallery/Gallery.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterNetwork.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterSort.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorViewSelector.tsx
  apps/web/src/components/Profile/EditUserInfoForm.tsx
  apps/web/src/components/Profile/ProfilePictureDropdown.tsx
  apps/web/src/components/ProfilePicture/ProfilePicture.tsx
  apps/web/src/components/core/Dropdown/DropdownItem.tsx
  apps/web/src/components/core/Dropdown/DropdownLink.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CollectionNavbar/CollectionRightContent.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryRightContent.tsx
  apps/web/src/scenes/CollectionGalleryPage/CollectionGalleryHeader.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollection.tsx
  apps/web/src/scenes/UserGalleryPage/UserNameAndDescriptionHeader.tsx
  packages/shared/src/analytics/constants.ts
Labels: web, shared

#2016 Migrate noop functions to import noop
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/Events/UserFollowedUsersFeedEvent.tsx
  apps/mobile/src/components/Feed/FeedList.tsx
  apps/mobile/src/components/NftPreview/NftPreview.tsx
  apps/mobile/src/components/NftPreview/NftPreviewAsset.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreview.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneMentionedYou.tsx
  apps/mobile/src/components/ProfileView/Tabs/ProfileViewActivityTab.tsx
  apps/mobile/src/components/Search/Community/CommunitySearchResult.tsx
  apps/mobile/src/components/Search/SearchResults.tsx
  apps/mobile/src/components/Search/User/UserSearchResult.tsx
  apps/mobile/src/components/Toast/Toast.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
  apps/mobile/src/hooks/useEventComment.ts
  apps/mobile/src/hooks/usePostComment.ts
  apps/mobile/src/screens/FeedEventScreen.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
  apps/web/pages/_/components.tsx
  apps/web/src/contexts/toast/Toast.tsx
  apps/web/src/contexts/toast/ToastContext.tsx
  packages/shared/src/contexts/AnalyticsContext.tsx
  packages/shared/src/hooks/useCreateNonce.ts
Labels: mobile, web, shared

#2017 wrap long comments on web
  apps/web/src/components/Feed/Socialize/CommentLine.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
Labels: web

#2006 FollowBack button regression on mobile
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneFollowedYou.tsx
Labels: mobile

#1979 [GAL-3843] Update web Nft Composer to display landscape and portrait images properly
  apps/web/src/components/NftSelector/NftSelectorPreviewAsset.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/Posts/PostComposerAsset.tsx
  apps/web/src/components/Posts/PostComposerModal.tsx
Labels: web

#2012 add Posts feature page and required cms components
  apps/web/pages/features/posts.tsx
  apps/web/src/scenes/ContentPages/ContentModules/Faq.tsx
  apps/web/src/scenes/ContentPages/ContentModules/FeatureHighlight.tsx
  apps/web/src/scenes/ContentPages/PostsFeaturePage.tsx
  apps/web/src/scenes/ContentPages/cms_types.ts
Labels: web

#2021 add props to enable auto play on ios
  apps/web/src/scenes/ContentPages/ContentModules/FeatureHighlight.tsx
Labels: web

#2023 More tracking
  apps/mobile/src/components/Notification/NotificationRegistrar.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/NftSelector/NftSelectorTokenPreview.tsx
  apps/web/src/components/NftSelector/NftSelectorView.tsx
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/Posts/PostComposerModal.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  packages/shared/src/analytics/constants.ts
Labels: mobile, web, shared

#2022 show global modal for posts
  README.md
  apps/web/pages/features/posts.tsx
  apps/web/src/contexts/globalLayout/GlobalAnnouncementPopover/useGlobalAnnouncementPopover.tsx
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
  apps/web/src/contexts/modal/AnimatedModal.tsx
  apps/web/src/scenes/ContentPages/PostsFeaturePage.tsx
  apps/web/tests/graphql/mockGlobalLayoutQuery.ts
  schema.graphql
Labels: web, schema

#2025 Logging improvements
  apps/mobile/src/components/Feed/FeedFilter.tsx
  apps/mobile/src/components/MarfaCheckIn/MarfaCheckInSheet.tsx
  apps/mobile/src/contexts/MobileAnalyticsProvider.tsx
  apps/mobile/src/navigation/FeedTabNavigator/FeedTabNavigator.tsx
  apps/mobile/src/navigation/FeedTabNavigator/TabBar.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/mobile/src/screens/Login/NotificationUpsellScreen.tsx
  apps/mobile/src/screens/Login/navigateToNotificationUpsellOrHomeScreen.ts
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/web/src/contexts/analytics/WebAnalyticsProvider.tsx
  apps/web/src/utils/logger.ts
  packages/shared/src/analytics/constants.ts
  packages/shared/src/contexts/AnalyticsContext.tsx
  packages/shared/src/utils/removeNullishValues.test.ts
  packages/shared/src/utils/removeNullishValues.ts
  packages/shared/src/utils/time.ts
Labels: mobile, web, shared

#2019 Enforce emails on web
  apps/web/pages/onboarding/add-email.tsx
  apps/web/src/components/Onboarding/OnboardingFooter.tsx
Labels: web

#2024 change comment keyboard layout
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
Labels: mobile

#2026 add beta label to posts feature page
  apps/web/src/scenes/ContentPages/PostsFeaturePage.tsx
Labels: web

#2028 remove full page loader from global app level boundary suspense
  apps/web/src/contexts/boundary/Boundary.tsx
Labels: web

#2018 Fix regression on search onClick
  apps/mobile/src/components/Search/Community/CommunitySearchResult.tsx
  apps/mobile/src/components/Search/SearchResults.tsx
  apps/mobile/src/components/Search/User/UserSearchResult.tsx
Labels: mobile

#2030 update memento mint page to use new contract and add quantity + total price
  apps/web/public/1k-posts-memento-min.jpg
  apps/web/public/base-gallery-memento.jpg
  apps/web/src/abis/galleryMementosContractAbi.ts
  apps/web/src/hooks/useMintContract.tsx
  apps/web/src/scenes/MintPages/MementosPage.tsx
  apps/web/src/scenes/MintPages/MintButton.tsx
  apps/web/src/scenes/MintPages/config.ts
Labels: web

#2032 Fix dropdown link regression
  apps/web/src/components/core/Dropdown/DropdownLink.tsx
Labels: web

#2031 update Posts Features page cta for signed in users
  apps/web/src/scenes/ContentPages/PostsFeaturePage.tsx
Labels: web

#2036 change label for external link
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsEth.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsTezos.tsx
Labels: mobile

#2037 enable auto caps for comment
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
Labels: mobile

#2035 fix description color for darkmode
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
Labels: mobile

#2041 add share on gallery button to post-mint flow
  apps/web/src/scenes/MintPages/MementosPage.tsx
Labels: web

#2040 ignore markdown-style correctly in search result
  apps/web/src/components/Search/SearchResult.tsx
Labels: web

#2039 TextArea in Post Composer Web truncated early
  apps/web/src/components/core/TextArea/TextArea.tsx
Labels: web

#2033 Kaito/features external link
  apps/web/src/components/core/GalleryLink/GalleryLink.tsx
Labels: web

#2029 [GAL-4500] Polish mention mobile
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Markdown.tsx
  apps/mobile/src/components/Search/Community/CommunitySearchResult.tsx
  apps/mobile/src/components/Search/Gallery/GallerySearchResult.tsx
  apps/mobile/src/components/Search/SearchDefault.tsx
  apps/mobile/src/components/Search/SearchResult.tsx
  apps/mobile/src/components/Search/SearchResults.tsx
  apps/mobile/src/components/Search/User/UserSearchResult.tsx
  apps/mobile/src/hooks/useMentionableMessage.ts
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/SearchScreen.tsx
  apps/web/src/components/Search/SearchResult.tsx
  packages/shared/src/utils/highlighter.ts
Labels: mobile, web, shared

#2043 Improve sanitization
  packages/shared/src/utils/highlighter.ts
Labels: shared

#2044 1.0.28
  apps/mobile/app.config.ts
Labels: mobile

#2047 Fix double @ on mention
  apps/mobile/src/hooks/useMentionableMessage.ts
Labels: mobile

#2048 Fix email input regression
  apps/web/src/components/Settings/ManageEmailSection/ManageEmailSection.tsx
Labels: web

#2045 [GAL-4436] notification regression
  apps/web/src/components/Notifications/notifications/NotificationPostPreview.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourPost.tsx
Labels: web

#2038 comments styling regression on web
  apps/web/src/components/Feed/Socialize/CommentLine.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
Labels: web

#2003 enable SyncCreatorTokens for Existing Contracts
  apps/mobile/src/components/AnimatedRefreshIcon.tsx
  apps/mobile/src/components/Community/CommunityPostBottomSheet.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/CollectionTitle.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/RefreshContractIcon.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/SidebarList.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarTokens.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/createVirtualizedRowsFromGroups.ts
  apps/web/src/components/GalleryEditor/PiecesSidebar/groupCollectionsByAddress.ts
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/NftSelector/NftSelectorTokenPreview.tsx
  apps/web/src/components/NftSelector/NftSelectorView.tsx
  apps/web/src/components/NftSelector/groupNftSelectorCollectionsByAddress.ts
  apps/web/src/hooks/api/tokens/useSyncCreatedTokensForExistingContract.ts
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
Labels: mobile, web

#2049 admires modal being cutoff in mobile web view
  apps/web/src/components/Feed/Socialize/AdmireModal/AdmireModal.tsx
Labels: web

#2050 see admirers from someone admired your post notif
  apps/mobile/src/components/Notification/NotificationBottomSheetUserList.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourPost.tsx
Labels: mobile

#2054 remove wrapping to new line on social pill
  apps/web/src/scenes/UserGalleryPage/UserSocialPill.tsx
Labels: web
