Repository gallery-so/gallery, pull requests merged in 2023-11, with the labels that each got.

#2057 Enable creator support for Zora
  packages/shared/src/utils/chains.ts
Labels: mobile, web, shared

#2046 [GAl-4256] Displaying Creators in NFT Token Page
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/EnsOrAddress.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/web/src/components/NftPreview/NftPreviewLabel.tsx
  apps/web/src/constants/creator.ts
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
Labels: mobile, web

#2055 [GAL-4152] Support dynamic height assets on web, mobile feeds
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/components/Gallery/GalleryTokenPreview.tsx
  apps/mobile/src/components/NftPreview/NftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreviewContextMenuPopup.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/useNftDetailAssetSizer.ts
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  packages/shared/src/utils/fitDimensionsToContainer.ts
Labels: mobile, web, shared

#2051 Add collection related links
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/icons/GlobeIcon.tsx
  apps/mobile/src/icons/ObjktIcon.tsx
  apps/mobile/src/icons/OpenseaIcon.tsx
  apps/web/src/icons/ObjktIcon.tsx
  apps/web/src/icons/OpenseaIcon.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageViewHeader.tsx
  packages/shared/src/utils/extractRelevantMetadataFromCommunity.ts
  packages/shared/src/utils/getOpenseaExternalUrl.ts
  packages/shared/src/utils/getTezosExternalUrl.ts
Labels: mobile, web, shared

#2061 Disable vercel analytics
  apps/web/pages/_app.tsx
Labels: web

#2063 Fix refresh icon clickability
  apps/web/src/components/NftFailureFallback/NftFailureFallback.tsx
Labels: web

#2062 Gnosis safe fix
  apps/web/src/components/WalletSelector/multichain/MultichainWalletSelector.tsx
  apps/web/src/contexts/auth/Web3WalletContext.tsx
Labels: web

#2064 [DO NOT MERGE YET] Enable Mention on Mobile
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/hooks/useMentionableMessage.ts
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/utils/isFeatureEnabled.tsx
Labels: mobile

#2066 Toss feedback icon
  apps/mobile/src/components/FeedbackButton.tsx
  apps/mobile/src/components/WelcomeToBeta.tsx
  apps/mobile/src/navigation/FeedTabNavigator/TabBar.tsx
Labels: mobile

#2067 add SomeonePostedYourWork notifs
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/components/Notification/Notifications/SomeonePostedYourWork.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeonePostedYourWork.tsx
  schema.graphql
Labels: mobile, web, schema

#2068 Fix un-mentionable if there is line break
  apps/mobile/src/hooks/useMentionableMessage.ts
  packages/shared/src/utils/regex.ts
Labels: mobile, shared

#2069 [GAL-4678] Fix network autoselect
  apps/web/src/contexts/postComposer/PostComposerContext.tsx
Labels: web

#2070 1.0.29
  apps/mobile/app.config.ts
Labels: mobile

#2071 Sanity-based web maintenance banner
  apps/mobile/src/App.tsx
  apps/mobile/src/utils/sanity.ts
  apps/mobile/src/utils/useSanityMaintenanceCheck.ts
  apps/mobile/src/utils/useSanityMaintenanceCheckMobile.ts
  apps/web/src/components/UpsellBanner/UpsellBanner.tsx
  apps/web/src/components/core/GlobalBanner/GlobalBanner.tsx
  apps/web/src/contexts/AppProvider.tsx
  apps/web/src/contexts/globalLayout/GlobalBanner/MobileBetaUpsell.tsx
  apps/web/src/contexts/globalLayout/GlobalBanner/UpcomingMaintenanceBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
  apps/web/src/scenes/MaintenancePage/MaintenancePage.tsx
  packages/shared/src/contexts/MaintenanceStatusContext.tsx
  packages/shared/src/utils/extractMirrorXyzUrl.ts
  packages/shared/src/utils/sanity.ts
Labels: mobile, web, shared

#2072 Add additional boundary around RelayProvider
  apps/web/src/contexts/AppProvider.tsx
Labels: web

#2073 Fix community header tooltip copy
  apps/web/src/scenes/CommunityPage/CommunityPageViewHeader.tsx
Labels: web

#2074 Apply badge filtering on mobile
  apps/mobile/src/components/Trending/TrendingUserCard.tsx
  apps/web/src/components/Badge/Badge.tsx
  apps/web/src/constants/community.ts
  apps/web/src/scenes/CommunityPage/CommunityPageCollectorsTab.tsx
  packages/shared/src/utils/communities.ts
Labels: mobile, web, shared

#2076 Fix maintenance dark mode
  apps/mobile/src/App.tsx
Labels: mobile

#2075 [GAL-4676] Search highlighter fix
  packages/shared/src/utils/highlighter.test.ts
  packages/shared/src/utils/highlighter.ts
Labels: shared

#2079 dynamic asset height on feed fix
  packages/shared/src/utils/extractMirrorXyzUrl.ts
Labels: shared

#2081 Refresh stale comments
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
Labels: mobile

#2060 Mention Web
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Search/Community/CommunitySearchResult.tsx
  apps/mobile/src/components/Search/SearchResults.tsx
  apps/mobile/src/components/Search/User/UserSearchResult.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/web/src/components/Feed/Socialize/CommentBox/CommentBox.tsx
  apps/web/src/components/Feed/Socialize/Comments.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/PostCommentsModal.tsx
  apps/web/src/components/Mention/FloatingCard.tsx
  apps/web/src/components/Mention/MentionModal.tsx
  apps/web/src/components/Mention/MentionResultFallback.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneMentionedYou.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/Posts/PostComposerTextArea.tsx
  apps/web/src/components/Search/Community/CommunitySearchResult.tsx
  apps/web/src/components/Search/Community/CommunitySearchResultSection.tsx
  apps/web/src/components/Search/Gallery/GallerySearchResult.tsx
  apps/web/src/components/Search/Gallery/GallerySearchResultSection.tsx
  apps/web/src/components/Search/Search.tsx
  apps/web/src/components/Search/SearchResult.tsx
  apps/web/src/components/Search/SearchResults.tsx
  apps/web/src/components/Search/SearchSection.tsx
  apps/web/src/components/Search/User/UserSearchResult.tsx
  apps/web/src/components/Search/User/UserSearchResultSection.tsx
  apps/web/src/components/Search/types.ts
  apps/web/src/components/core/TextArea/TextArea.tsx
  apps/web/src/components/core/keyframes.ts
  apps/web/src/components/core/transitions.ts
  apps/web/src/hooks/api/posts/useCommentOnPost.ts
  apps/web/src/hooks/api/posts/useCreatePost.ts
  apps/web/src/scenes/Post/StandalonePostView.tsx
  packages/shared/src/analytics/constants.ts
  packages/shared/src/hooks/useMentionableMessage.ts
  packages/shared/src/utils/highlighter.ts
Labels: mobile, web, shared

#2082 Mention web polish + Tracking mobile
  apps/mobile/src/components/Search/Community/CommunitySearchResult.tsx
  apps/mobile/src/components/Search/SearchResult.tsx
  apps/mobile/src/components/Search/SearchResults.tsx
  apps/mobile/src/components/Search/User/UserSearchResult.tsx
  apps/web/src/components/Mention/MentionModal.tsx
  apps/web/src/components/Search/SearchResult.tsx
  apps/web/src/components/core/TextArea/TextArea.tsx
Labels: mobile, web

#2084 rename collection to section in user facing copy
  apps/mobile/src/components/Feed/Events/CollectionCreatedFeedEvent.tsx
  apps/mobile/src/components/Feed/Events/CollectionUpdatedFeedEvent.tsx
  apps/mobile/src/components/Feed/Events/TokensAddedToCollectionFeedEvent.tsx
  apps/web/src/components/Feed/Events/CollectionCreatedFeedEvent.tsx
  apps/web/src/components/Feed/Events/CollectionUpdatedFeedEvent.tsx
  apps/web/src/components/Feed/Events/CollectorsNoteAddedToCollectionFeedEvent.tsx
  apps/web/src/components/Feed/Events/TokensAddedToCollectionFeedEvent.tsx
  apps/web/src/components/GalleryEditor/CollectionCreateOrEditForm.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/DragAndDrop/Section.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/StagingArea.tsx
  apps/web/src/components/GalleryEditor/CollectionSidebar/CollectionListItem.tsx
  apps/web/src/components/GalleryEditor/CollectionSidebar/CollectionSearch.tsx
  apps/web/src/components/GalleryEditor/CollectionSidebar/CollectionSidebar.tsx
  apps/web/src/components/GalleryEditor/CollectionSidebar/MoveCollectionModal.tsx
  apps/web/src/components/MultiGallery/Gallery.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CollectionNavbar/CollectionRightContent.tsx
  apps/web/src/scenes/CollectionGalleryPage/CollectionGallery.tsx
  apps/web/src/scenes/CollectionGalleryPage/CollectionGalleryHeader.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollection.tsx
Labels: mobile, web

#2085 Mention fixes
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/PostCommentsModal.tsx
  apps/web/src/scenes/Post/StandalonePostView.tsx
Labels: web

#2087 Fix stale notifications on mobile
  apps/mobile/src/components/Notification/NotificationList.tsx
  apps/mobile/src/hooks/useMobileClearNotifications.ts
  apps/mobile/src/navigation/MainTabNavigator/NotificationBlueDot.tsx
  apps/mobile/src/navigation/MainTabNavigator/TabBar.tsx
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
  apps/mobile/src/utils/useEffectOnAppForeground.ts
  apps/mobile/src/utils/useIntervalEffectOnAppForeground.ts
  apps/mobile/src/utils/useSanityMaintenanceCheckMobile.ts
Labels: mobile

#2091 [GAL-4757] Fix duplicate mention tagging
  packages/shared/src/components/GalleryProccessedText/GalleryTextElementParser.ts
Labels: shared

#2092 add space after selecting mention
  packages/shared/src/hooks/useMentionableMessage.ts
Labels: shared

#2089 Minted -> Collected notification row
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
Labels: mobile, web

#2097 Fix the on paste callback
  apps/web/src/components/Feed/Socialize/CommentBox/CommentBox.tsx
Labels: web

#2099 Check if the mention already exist
  packages/shared/src/hooks/useMentionableMessage.ts
Labels: shared

#2100 Upgrade Moon
  apps/mobile/moon.yml
  apps/mobile/package.json
  apps/web/package.json
  package.json
  packages/shared/moon.yml
  yarn.lock
Labels: mobile, web, shared, libraries

#2083 [GAL-4740] creator labels, detail page improvements, deprecate contract.creatorAddress
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Feed/Posts/PostCreatorAndCollectionSection.tsx
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/components/ProfilePicture/ProfilePictureAndUserOrAddress.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsTezos.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/web/src/components/EnsOrAddress.tsx
  apps/web/src/components/Feed/PostItem.tsx
  apps/web/src/components/Feed/Posts/PostCommunityPill.tsx
  apps/web/src/components/Feed/Posts/PostCreatorAndCollectionSection.tsx
  apps/web/src/components/Feed/Socialize/Comments.tsx
  apps/web/src/components/Feed/Socialize/PostSocializeSection.tsx
  apps/web/src/components/Feed/Socialize/RemainingCommentCount.tsx
  apps/web/src/components/LinkableAddress.tsx
  apps/web/src/components/ProfilePicture/ProfilePictureAndUserOrAddress.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftAdditionalDetailsEth.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftAdditionalDetailsPOAP.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftAdditionalDetailsTezos.tsx
  apps/web/src/scenes/NftDetailPage/NftAdditionalDetails/NftDetailsExternalLinksEth.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  packages/shared/src/utils/extractPoapMetadata.ts
  packages/shared/src/utils/wallet.ts
Labels: mobile, web, shared

#2098 display notification for first post by a user
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneYouFollowPostedTheirFirstPost.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneYouFollowPostedTheirFirstPost.tsx
  schema.graphql
Labels: mobile, web, schema

#2101 replace shop link with faq and update mobile faq too
  apps/mobile/src/icons/QuestionCircleIcon.tsx
  apps/mobile/src/screens/SettingsScreen/SettingsScreen.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/SidebarIcon.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/icons/QuestionMarkIcon.tsx
Labels: mobile, web

#2103 [GAL-4776] Mention Mobile: Improve keyboard UX + render mention
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
  apps/mobile/src/components/GalleryBottomSheet/GalleryBottomSheetMentionTextInput.tsx
  apps/mobile/src/components/MentionTextInput.tsx
  apps/mobile/src/components/Post/PostInput.tsx
  apps/mobile/src/components/ProcessedText/ProcessedText.tsx
  apps/mobile/src/components/ProcessedText/elements/MentionComponent.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  packages/shared/src/components/GalleryProccessedText/GalleryProcessedText.tsx
  packages/shared/src/components/GalleryProccessedText/GalleryTextElementParser.ts
  packages/shared/src/hooks/useMentionableMessage.ts
Labels: mobile, shared

#2106 make comment wrap under username on web
  apps/web/src/components/Feed/Socialize/CommentLine.tsx
Labels: web

#2104 comments modal adjusments - height, spacing, etc
  apps/web/src/components/Feed/Socialize/CommentBox/CommentBox.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
Labels: web

#2107 vertically center input
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
Labels: mobile

#2108 Hide user cards without token previews
  apps/mobile/src/components/Trending/TrendingUserList.tsx
  apps/web/src/components/Explore/ExploreList.tsx
Labels: mobile, web

#2105 Update how we write/store mention
  packages/shared/src/hooks/useMentionableMessage.test.ts
  packages/shared/src/hooks/useMentionableMessage.ts
Labels: shared

#2111 make the labels ‘Creator’ / ‘Collection’ also tappable
  apps/mobile/src/components/Feed/Posts/PostCreatorAndCollectionSection.tsx
Labels: mobile

#2112 make numberOfLines prop apply to processed text and update web clamp count
  apps/mobile/src/components/Notification/Notifications/SomeoneMentionedYou.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneYouFollowPostedTheirFirstPost.tsx
  apps/mobile/src/components/ProcessedText/ProcessedText.tsx
  apps/web/src/components/Notifications/notifications/SomeoneMentionedYou.tsx
  apps/web/src/components/Notifications/notifications/SomeoneYouFollowPostedTheirFirstPost.tsx
  packages/shared/src/components/GalleryProccessedText/GalleryProcessedText.tsx
Labels: mobile, web, shared

#2110 fix shared info modal regression and make height dynamic
  apps/web/src/components/HoverCard/CommunityHoverCard.tsx
  apps/web/src/components/HoverCard/HoverCard.tsx
  apps/web/src/components/HoverCard/UserHoverCard.tsx
  apps/web/src/contexts/modal/AnimatedModal.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedCommunitiesList.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedFollowersList.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedInfoListRow.tsx
Labels: web

#2115 make comment preview on web clickable
  apps/web/src/components/Feed/Socialize/Comments.tsx
Labels: web

#2114 show refresh icon only when 'Created' filter is selected
  apps/web/src/components/NftSelector/NftSelector.tsx
Labels: web

#2113 display owner and creator new row if username is long
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
Labels: web

#2116 [GAL-4652] fix collector's note display on moweb and tablet
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
Labels: web

#2120 iOS tracking transparency permissions
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/contexts/MobileAnalyticsProvider.tsx
  yarn.lock
Labels: mobile, libraries

#2121 cherry-pick iOS tracking transparency permissions
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/contexts/MobileAnalyticsProvider.tsx
  yarn.lock
Labels: mobile, libraries

#2118 [GAL-4460] Add PFPs for explore modal -> see all
  apps/web/src/components/Explore/ExplorePopoverList.tsx
Labels: web

#2123 Revert tracking transparency
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/contexts/MobileAnalyticsProvider.tsx
  yarn.lock
Labels: mobile, libraries

#2125 [mobile] bump version 1.0.32
  apps/mobile/app.config.ts
  apps/mobile/version-bump.sh
Labels: mobile

#2127 creator autosync part 2
  apps/mobile/src/components/AnimatedRefreshIcon.tsx
  apps/mobile/src/components/Toast/transition.ts
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
Labels: mobile

#2126 trigger auto sync when switching ownership type filter in composer/editor, web and mobile
  apps/mobile/src/components/AnimatedRefreshIcon.tsx
  apps/mobile/src/components/Toast/transition.ts
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/PiecesSidebar.tsx
  apps/web/src/components/NftSelector/NftSelector.tsx
  packages/shared/src/utils/doesUserOwnWalletFromChainFamily.ts
Labels: mobile, web, shared

#2128 show creator announcement in mobile composer and make useExperience shared
  apps/mobile/src/screens/NftSelectorScreen/CreatorSupportAnnouncementBottomSheet.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/web/pages/_/reset.tsx
  apps/web/src/components/Announcement/AnnouncementList.tsx
  apps/web/src/components/GalleryEditor/GalleryOnboardingGuide/OnboardingDialogContext.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/PiecesSidebar.tsx
  apps/web/src/components/NftSelector/NftSelectorTokens.tsx
  apps/web/src/components/Notifications/NotificationList.tsx
  apps/web/src/components/Notifications/NotificationTwitterAlert.tsx
  apps/web/src/components/UpsellBanner/UpsellBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalAnnouncementPopover/useGlobalAnnouncementPopover.tsx
  apps/web/src/contexts/globalLayout/GlobalBanner/MobileBetaUpsell.tsx
  packages/shared/src/hooks/useExperience.ts
  packages/shared/src/relay/useUpdateUserExperience.tsx
Labels: mobile, web, shared

#2130 Mobile syncing skeleton support
  apps/mobile/src/components/AnimatedRefreshIcon.tsx
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/icons/SpinnerIcon.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorLoadingSkeleton.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
Labels: mobile

#2131 Pull to refresh mobile sync
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
Labels: mobile

#2132 Mobile conditional filtering
  apps/mobile/src/components/Select.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorFilterBottomSheet.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  packages/shared/src/utils/chains.ts
Labels: mobile, shared

#2129 Upgrade to moon v1.17
  .github/workflows/mobile-build.yml
  .moon/toolchain.yml
  apps/mobile/moon.yml
  apps/mobile/package.json
  apps/web/moon.yml
  apps/web/package.json
  package.json
  packages/shared/moon.yml
  yarn.lock
Labels: mobile, web, shared, libraries

#2133 opengraph truncation bug fix
  apps/web/src/components/opengraph/PostOpenGraphPreview.tsx
Labels: web

#2009 [GAL-3984] [GAL-3985] Admire Token
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/Feed/Socialize/AdmireIcon.tsx
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourToken.tsx
  apps/mobile/src/hooks/useToggleTokenAdmire.ts
  apps/mobile/src/screens/NftDetailScreen/AdmireBottomSheet.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/web/src/components/Feed/Events/CollectorsNoteAddedToTokenFeedEvent.tsx
  apps/web/src/components/Feed/FeedEventData.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourToken.tsx
  apps/web/src/components/core/Button/Button.tsx
  apps/web/src/hooks/api/posts/useAdmireToken.ts
  apps/web/src/hooks/api/posts/useRemoveTokenAdmire.ts
  apps/web/src/scenes/NftDetailPage/AdmireTokenModal.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPage.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailPage.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailView.tsx
  packages/shared/src/theme/colors.d.ts
  packages/shared/src/theme/colors.js
  schema.graphql
Labels: mobile, web, shared, schema

#2134 Fix duplicate NFT detail text
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
Labels: web

#2135 change community page shareIcon to copyIcon
  apps/web/src/scenes/CommunityPage/CommunityPageViewHeader.tsx
Labels: web

#2117 [GAL-4768] inline timestamp for notification rows
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourFeedEvent.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneMentionedYou.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneYouFollowPostedTheirFirstPost.tsx
Labels: mobile

#2136 inline timestamp notifs for web
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourFeedEvent.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourPost.tsx
  apps/web/src/components/Notifications/notifications/SomeoneMentionedYou.tsx
Labels: web

#2138 Fix optimistic update on replying top comment
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetSection.tsx
Labels: mobile

#2137 Report Content
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/ReportPost.tsx
  apps/mobile/src/components/ProfileView/BlockUserConfirmationForm.tsx
  apps/mobile/src/components/ProfileView/GalleryProfileMoreOptionsBottomSheet.tsx
  apps/mobile/src/components/ProfileView/GalleryProfileNavBar.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  packages/shared/src/hooks/useBlockUser.ts
  packages/shared/src/hooks/useReportPost.ts
  packages/shared/src/hooks/useUnblockUser.ts
Labels: mobile, shared

#2139 [cherry-pick] Report Content, Block User (#2137)
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/ReportPost.tsx
  apps/mobile/src/components/ProfileView/BlockUserConfirmationForm.tsx
  apps/mobile/src/components/ProfileView/GalleryProfileMoreOptionsBottomSheet.tsx
  apps/mobile/src/components/ProfileView/GalleryProfileNavBar.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  packages/shared/src/hooks/useBlockUser.ts
  packages/shared/src/hooks/useReportPost.ts
  packages/shared/src/hooks/useUnblockUser.ts
Labels: mobile, shared

#2142 Survey banner
  apps/web/src/contexts/globalLayout/GlobalBanner/LocalStorageGlobalBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
Labels: web

#2143 Fix mobile logouts for local dev
  apps/mobile/src/hooks/useLogout.ts
Labels: mobile

#2145 weird markdown rendering on nft detail mobile
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
Labels: mobile
