Repository gallery-so/gallery, pull requests merged in 2023-08, with the labels that each got.

#1745 [GAL-3619] Update Community Page to show Posts
  apps/mobile/src/components/Community/CommunityCollectors.tsx
  apps/mobile/src/components/Community/CommunityHeader.tsx
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityPosts.tsx
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/components/Feed/Posts/DeletePostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/components/GalleryTabs/GalleryTabBar.tsx
  apps/mobile/src/components/GalleryTabs/GalleryTabsContainer.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
  apps/mobile/src/screens/PostScreen/usePost.tsx
Labels: mobile

#1778 [GAL-3924] update color of contracts on mobile nft detail
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsEth.tsx
  apps/mobile/src/screens/NftDetailScreen/NftAdditionalDetailsTezos.tsx
Labels: mobile

#1760 [GAL-3850] Support post notification
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationList.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/mobile/src/components/Notification/Notifications/NotificationTokenPreview.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourPost.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourFeedEvent.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/components/Post/PostTokenPreview.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowers.tsx
  apps/mobile/src/navigation/MainTabNavigator/TabBar.tsx
  apps/mobile/src/navigation/MainTabStackNavigator.tsx
  apps/mobile/src/navigation/PostStackNavigator.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/PostScreen/PostScreen.tsx
Labels: mobile

#1780 [GAL-3640] update comments styling
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
Labels: mobile

#1779 [GAL-3928] show notifications for someone commented+admired your post
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourFeedEvent.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourPost.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourFeedEvent.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourPost.tsx
  apps/web/src/components/Notifications/notifications/SomeoneFollowedYou.tsx
  apps/web/src/components/Notifications/notifications/SomeoneFollowedYouBack.tsx
  apps/web/src/components/Notifications/notifications/SomeoneViewedYourGallery.tsx
  packages/shared/src/utils/time.ts
Labels: web, shared

#1777 Refactor full page NFT previews
  apps/web/src/components/Feed/Events/FeedEventNftPreviewWrapper.tsx
  apps/web/src/components/Feed/Posts/PostDropdown.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/NftPreview/CollectionTokenPreview.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/contexts/AppProvider.tsx
  apps/web/src/contexts/fullPageNftDetailModalListener/FullPageNftDetailModalListener.tsx
  apps/web/src/contexts/globalLayout/useStabilizedRouteTransitionKey.ts
  apps/web/src/hooks/useTokenDetailModal.tsx
  apps/web/src/scenes/CollectionGalleryPage/CollectionGalleryPage.tsx
  apps/web/src/scenes/NftDetailPage/LinkToFullPageNftDetailModal.tsx
  apps/web/src/scenes/NftDetailPage/LinkToTokenDetailView.tsx
  apps/web/src/scenes/NftDetailPage/useDisplayFullPageNftDetailModal.tsx
  apps/web/src/scenes/UserActivityPage/UserActivity.tsx
  apps/web/src/scenes/UserGalleryPage/FocusedGalleryPage.tsx
  apps/web/src/scenes/UserGalleryPage/UserGallery.tsx
  apps/web/src/scenes/UserGalleryPage/UserNameAndDescriptionHeader.tsx
Labels: web

#1764 GAL-3893: display community avatar in list of mutually owned pieces [web + mobile]
  apps/mobile/src/components/CommunitiesList/CommunityCard.tsx
  apps/mobile/src/components/CommunitiesList/CommunityList.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowers.tsx
  apps/mobile/src/components/UserFollowList/UserFollowCard.tsx
  apps/web/src/components/ProfilePicture/CommunityProfilePictureStack.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedCommunities.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedCommunitiesList.tsx
Labels: mobile, web

#1783 Fix tiny SVGs on safari
  apps/web/src/components/NftPreview/NftPreview.tsx
Labels: web

#1784 [GAL-3953] [GAL-3075] Koala Polish
  apps/mobile/package.json
  apps/mobile/src/components/Community/CommunityBottomSheet.tsx
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Feed/Posts/DeletePostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/PfpPicker/PfpBottomSheet.tsx
  apps/mobile/src/components/Post/WarningPostBottomSheet.tsx
  apps/mobile/src/components/Select.tsx
  apps/mobile/src/hooks/usePostComment.ts
  apps/mobile/src/screens/Login/LandingScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorScreenFallback.tsx
  yarn.lock
Labels: mobile, libraries

#1788 [GAL-3931] Make Delete option red
  apps/web/src/components/Feed/Posts/PostDropdown.tsx
  apps/web/src/components/GalleryEditor/CollectionSidebar/CollectionListItem.tsx
  apps/web/src/components/MultiGallery/Gallery.tsx
Labels: web

#1787 [GAL-3940] Remove show/hide detail link on detail page
  apps/mobile/src/screens/NftDetailScreen/UniversalNftDetailScreenInner.tsx
Labels: mobile

#1790 [GAL-3959] Discard modal fix
  apps/web/src/components/Posts/PostComposerModal.tsx
Labels: web

#1762 [GAL-3925] Updated Post on Feed
  apps/web/src/components/Feed/FeedEventItem.tsx
  apps/web/src/components/Feed/FeedItem.tsx
  apps/web/src/components/Feed/FeedList.tsx
  apps/web/src/components/Feed/PostItem.tsx
  apps/web/src/components/Feed/Posts/PostData.tsx
  apps/web/src/components/Feed/Posts/PostHeader.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/Feed/Posts/PostNfts.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/hooks/api/posts/useCreatePost.ts
  apps/web/src/scenes/Post/StandalonePostView.tsx
Labels: web

#1767 Trending -> Curated Feed
  apps/web/next.config.js
  apps/web/pages/gallery/[galleryId]/edit.tsx
  apps/web/pages/home.tsx
  apps/web/pages/index.tsx
  apps/web/pages/settings.tsx
  apps/web/src/components/Feed/CuratedThenGlobalFeed.tsx
  apps/web/src/components/Feed/analytics.ts
  apps/web/src/contexts/globalLayout/GlobalAnnouncementPopover/GlobalAnnouncementPopover.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/HomeNavbar/HomeNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/hooks/api/posts/useCreatePost.ts
  apps/web/src/scenes/Auth/Auth.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageDisabled.tsx
  apps/web/src/scenes/Home/TrendingHomePage.tsx
  apps/web/src/scenes/LandingPage/LandingPage.tsx
  apps/web/src/scenes/MintPages/MementosPage.tsx
Labels: web

#1774 [GAL-3954] Community Post
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityPostBottomSheet.tsx
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/navigation/MainTabNavigator/PostIcon.tsx
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
  apps/mobile/src/screens/NftSelectorScreen/useSyncTokens.tsx
Labels: mobile

#1793 show push token for admin users
  apps/mobile/src/screens/SettingsScreen/DebugBottomSheet.tsx
  apps/mobile/src/screens/SettingsScreen/SettingsScreen.tsx
Labels: mobile

#1792 GAL-3892: fix shared following regression
  apps/mobile/src/components/CommunitiesList/CommunityCard.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowers.tsx
Labels: mobile

#1795 Fix bottom sheet
  apps/mobile/src/components/Community/CommunityBottomSheet.tsx
  apps/mobile/src/components/Community/CommunityPostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/DeletePostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/GalleryBottomSheet/GalleryBottomSheetModal.tsx
  apps/mobile/src/components/PfpPicker/PfpBottomSheet.tsx
  apps/mobile/src/components/Post/WarningPostBottomSheet.tsx
  apps/mobile/src/components/Select.tsx
  apps/mobile/src/screens/Login/LandingScreen.tsx
Labels: mobile

#1796 add notification setting + prompt
  apps/mobile/package.json
  apps/mobile/src/navigation/MainTabStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/SettingsScreen/NotificationSettingsScreen.tsx
  apps/mobile/src/screens/SettingsScreen/SettingsScreen.tsx
  yarn.lock
Labels: mobile, libraries

#1791 [GAL-3961] Curated Feed mobile
  apps/mobile/src/components/Feed/FeedFilter.tsx
  apps/mobile/src/components/Feed/createVirtualizedFeedEventItems.ts
  apps/mobile/src/navigation/FeedTabNavigator/FeedTabNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/mobile/src/screens/HomeScreen/TrendingScreen.tsx
Labels: mobile

#1794 [GAL-3841] Add Error State to Post Composer on web
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/hooks/api/posts/useCreatePost.ts
Labels: web

#1761 [GAL-3740] Update User Profile's Following tab layout on web
  apps/web/pages/[username]/followers.tsx
  apps/web/src/components/Feed/Events/UserFollowedUsersFeedEvent.tsx
  apps/web/src/components/Follow/FollowList.tsx
  apps/web/src/components/Follow/FollowListUserItem.tsx
  apps/web/src/components/Follow/FollowListUsers.tsx
  apps/web/src/components/HoverCard/HoverCard.tsx
Labels: web

#1797 [GAL-3907] Add Sort filters to NFT Selector on mobile
  apps/mobile/src/components/Select.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorFilterBottomSheet.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
Labels: mobile

#1800 remove autofocus from mobile post composer input
  apps/mobile/src/components/Post/PostInput.tsx
Labels: mobile

#1799 Koala QOL
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentListFallback.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
  apps/mobile/src/components/Post/PostInput.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
Labels: mobile

#1798 [GAL-3976] NFT selector support more chains
  apps/mobile/src/icons/ArbitrumIcon.tsx
  apps/mobile/src/icons/BaseIcon.tsx
  apps/mobile/src/icons/OptimismIcon.tsx
  apps/mobile/src/icons/PolygonIcon.tsx
  apps/mobile/src/icons/ZoraIcon.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorFilterBottomSheet.tsx
  apps/mobile/src/utils/getChainIconComponent.tsx
Labels: mobile

#1801 GAL-3955 optimistically update curated feed with post
  apps/web/src/hooks/api/posts/useCreatePost.ts
Labels: web

#1804 bump mobile app version 1.0.14 -> 1.0.15
  apps/mobile/app.config.ts
Labels: mobile

#1806 [GAL-4007] Mobile: Notification PFP opens drawer 🐞
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
Labels: mobile

#1805 [GAL-4016] [GAL-4017] Nft Selector polish filter
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorFilterBottomSheet.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
Labels: mobile

#1803 Fix comment didn't show up
  apps/mobile/index.js
  apps/mobile/src/hooks/usePostComment.ts
Labels: mobile

#1809 [GAL-4046] show posts in following feed
  apps/web/src/components/Feed/LatestFollowingFeed.tsx
Labels: web

#1808 [GAL-3849] Add Optimistic Syncing notification [web]
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
Labels: web

#1811 update web comment layout and fix
  apps/web/src/components/Feed/Socialize/CommentLine.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/PostSocializeSection.tsx
Labels: web

#1812 GAL-4038: fix comments order on mobile
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
Labels: mobile

#1814 [GAL-4034] Add refresh to nft selector
  apps/mobile/src/components/Toast/Toast.tsx
  apps/mobile/src/contexts/ToastContext.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
Labels: mobile

#1810 make view more comment and comment icon open same sheet
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
  apps/mobile/src/components/Feed/Socialize/CommentButton.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
Labels: mobile

#1818 enable koala for beta users
  apps/mobile/src/utils/isFeatureEnabled.tsx
  apps/web/src/utils/graphql/isFeatureEnabled.tsx
Labels: mobile, web

#1816 make comments tappable to open sheet, fix add comment tappable, adjus…
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Socialize/AdmireLine.tsx
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
  apps/mobile/src/components/Feed/Socialize/CommentButton.tsx
  apps/mobile/src/components/Feed/Socialize/CommentLine.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/components/Feed/Socialize/Interactions.tsx
  apps/mobile/src/components/Feed/Socialize/RemainingCommentCount.tsx
Labels: mobile

#1815 [GAL-4060] Remove global feed from curated feed [web + mobile]
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/web/pages/home.tsx
  apps/web/src/components/Feed/CuratedFeed.tsx
  apps/web/src/components/Feed/CuratedThenGlobalFeed.tsx
  apps/web/src/scenes/Home/CuratedHomePage.tsx
  apps/web/src/scenes/Home/TrendingHomePage.tsx
Labels: mobile, web

#1817 [GAL-4044] Caption in "user commented on your post" notification overlaps image
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
Labels: mobile

#1819 remove logic to hide heading if no bio on mobile
  apps/web/src/scenes/UserGalleryPage/UserNameAndDescriptionHeader.tsx
Labels: web

#1823 bump mobile app version to 1.0.16
  apps/mobile/app.config.ts
Labels: mobile

#1820 adjust comment sizing on feed + other style fixes
  apps/mobile/src/components/CommunitiesList/CommunityCard.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/mobile/src/components/Feed/Socialize/AdmireLine.tsx
  apps/mobile/src/components/Feed/Socialize/CommentLine.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/components/Feed/Socialize/RemainingCommentCount.tsx
  apps/mobile/src/components/GalleryTabs/GalleryTabBar.tsx
  apps/mobile/src/components/UserFollowList/UserFollowCard.tsx
  apps/mobile/src/navigation/FeedTabNavigator/TabBar.tsx
Labels: mobile

#1824 adjust line height for comment timestamp for alignment
  apps/web/src/components/Feed/Socialize/CommentLine.tsx
Labels: web

#1827 GAL-4078: show number of posts in community page tab on web
  apps/web/src/hooks/api/posts/useCreatePost.ts
  apps/web/src/hooks/api/posts/useDeletePost.ts
  apps/web/src/scenes/CommunityPage/CommunityPageTabs.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
Labels: web

#1825 enable refresh button for all ethereum based chains
  apps/web/src/components/NftSelector/NftSelector.tsx
Labels: web

#1828 [GAL-4076] Add empty state to comments on web
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
Labels: web

#1813 GAL-4043: disable formatting on comment input
  apps/web/src/components/Feed/Socialize/CommentBox/CommentBox.tsx
Labels: web

#1831 Disable liverender again on mobile
  apps/web/src/components/NftPreview/CollectionTokenPreview.tsx
Labels: web

#1833 Fix stale composer refresh
  apps/web/src/components/Posts/PostComposerModal.tsx
  apps/web/src/components/Profile/EditUserInfoForm.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/hooks/api/tokens/useSyncTokens.ts
  apps/web/src/scenes/CommunityPage/CommunityPageMetadata.tsx
  apps/web/src/scenes/CommunityPage/CommunityPagePostsTab.tsx
Labels: web

#1834 Include posts in dev feed
  apps/web/pages/home.tsx
  apps/web/src/components/Feed/CuratedFeed.tsx
Labels: web

#1836 Fix cursor pointer for pills on web
  apps/web/src/components/Pill.tsx
Labels: web

#1839 GAL-4003: add borders around community pfps
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
Labels: mobile

#1838 GAL-4100: add collectors count in community tab [web]
  apps/web/src/scenes/CommunityPage/CommunityPageTabs.tsx
Labels: web

#1841 update default comment row height
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
Labels: web

#1843 GAL-4092 dont show notifications for deleted posts on web and mobile
  apps/mobile/src/components/Notification/Notification.tsx
  apps/web/src/components/Notifications/Notification.tsx
Labels: mobile, web

#1844 GAL-4067 Make collection screen scrollable in NFT Selector in mobile app
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
Labels: mobile

#1848 GAL-4103 dont show discard post confirmation if there's no caption
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
Labels: mobile

#1846 GAL-4069 GAL-4138 update nftselector proper placeholders and also add to contract groups
  apps/mobile/src/components/GallerySkeleton.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
Labels: mobile

#1845 GAL-4071 fix tiny typo in refresh bottom sheet and increase font size
  apps/mobile/src/components/Community/CommunityPostBottomSheet.tsx
Labels: mobile

#1842 GAL-4102 make Curated the default screen on mobile app
  apps/mobile/src/navigation/FeedTabNavigator/FeedTabNavigator.tsx
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/mobile/src/screens/HomeScreen/LatestScreen.tsx
  apps/mobile/src/screens/Login/NotificationUpsellScreen.tsx
  apps/mobile/src/screens/Login/navigateToNotificationUpsellOrHomeScreen.ts
Labels: mobile

#1851 Mobile bump 1.0.17
  apps/mobile/app.config.ts
Labels: mobile

#1850 Koala early access page
  apps/web/package.json
  apps/web/pages/koala/index.tsx
  apps/web/public/frame.jpg
  yarn.lock
Labels: web, libraries

#1852 Koala invite page hotfixes
  apps/web/pages/anewhome/index.tsx
Labels: web

#1853 [GAL-4074]: Add all icons for community page networks
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/LinkableAddress.tsx
Labels: mobile

#1857 GAL-4079: remove chevron from notifications component
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneViewedYourGallery.tsx
Labels: web

#1854 [GAL-4072] Show Posts skeleton state in Community Page
  apps/mobile/src/components/Community/CommunityPostListFallback.tsx
  apps/mobile/src/components/Community/CommunityViewFallback.tsx
Labels: mobile

#1856 make push notification setting available to all
  apps/mobile/src/screens/SettingsScreen/SettingsScreen.tsx
Labels: mobile

#1860 Secret password error handler
  apps/web/pages/anewhome/index.tsx
Labels: web

#1859 GAL-4159 & GAL-4023: support markdown in post caption
  apps/web/src/components/Feed/Posts/PostHeader.tsx
Labels: web

#1861 [GAL-4142] Add skeleton state for Post Composer
  apps/mobile/src/screens/PostScreen/PostComposerNftFallback.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
Labels: mobile

#1858 [GAL-4059] Remove All Networks view from Selector for now
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorFilterBottomSheet.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
Labels: mobile

#1821 [GAL-3903] Enable Dev Debugger Mobile
  apps/mobile/README.md
  apps/mobile/env/.env.dev
  apps/mobile/env/.env.local
  apps/mobile/env/.env.prod
  apps/mobile/env/env.js
  apps/mobile/src/components/DevMenuItems.tsx
  apps/mobile/src/constants/storageKeys.ts
  apps/mobile/src/hooks/usePersistedState.ts
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/Debugger.tsx
  apps/web/src/components/Debugger/Debugger.tsx
  packages/shared/src/hooks/useDebugAuthLogin.ts
Labels: mobile, web, shared

#1847 GAL-4116 remove setup gallery step from onboarding
  apps/web/pages/onboarding/add-email.tsx
  apps/web/pages/onboarding/add-user-info.tsx
  apps/web/pages/onboarding/congratulations.tsx
  apps/web/pages/onboarding/edit-gallery.tsx
  apps/web/src/components/Follow/FollowList.tsx
  apps/web/src/components/Onboarding/constants.ts
  apps/web/src/contexts/globalLayout/GlobalNavbar/EditGalleryNavbar/OnboardingEditGalleryNavbar.tsx
  apps/web/src/hooks/api/tokens/useSyncTokens.ts
  apps/web/src/scenes/UserGalleryPage/EmptyGallery.tsx
  apps/web/src/scenes/UserGalleryPage/UserGallery.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollections.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryHeader.tsx
Labels: web

#1862 Fix optimistic update on Curated feed on prod
  apps/web/src/hooks/api/posts/useCreatePost.ts
Labels: web

#1863 remove twitter upsell from onboarding, and make sure twitter connect button is shown on profile
  apps/web/pages/[username]/index.tsx
  apps/web/src/components/Twitter/useOpenTwitterModal.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryHeader.tsx
Labels: web

#1864 [GAL-4174] Fix non-scalable eth icon
  apps/mobile/src/icons/EthIcon.tsx
Labels: mobile

#1867 [GAL-4139] Post composer context, improve discard modal handling
  apps/web/src/components/Posts/DiscardPostConfirmation.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/Posts/PostComposerModal.tsx
  apps/web/src/contexts/AppProvider.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/contexts/modal/AnimatedModal.tsx
  apps/web/src/contexts/modal/ModalContext.tsx
  apps/web/src/contexts/postComposer/PostComposerContext.tsx
  apps/web/src/icons/TrashIconNew.tsx
Labels: web

#1865 [GAL-4022] Post button icon stroke weight update
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/navigation/MainTabNavigator/PostIcon.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailScreenInner.tsx
Labels: mobile

#1868 [GAL-4111] [GAL-4165] Unleash community pages
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
  apps/web/src/utils/getCommunityUrlForToken.ts
  packages/shared/src/utils/extractRelevantMetadataFromToken.ts
Labels: web, shared

#1870 [GAL-4110] fix navigation in shared followers, communities modal
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedFollowersList.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedInfoList/SharedInfoListRow.tsx
Labels: web

#1871 [GAL-4112] Ensure "followed you" wraps to next line in web notifications
  apps/web/src/components/Notifications/notifications/SomeoneFollowedYou.tsx
Labels: web

#1873 [GAL-3406] Enable creator sync
  apps/mobile/src/utils/isFeatureEnabled.tsx
  apps/web/pages/onboarding/add-user-info.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/PiecesSidebar.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarChainDropdown.tsx
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterNetwork.tsx
  apps/web/src/components/core/Dropdown/DropdownItem.tsx
  apps/web/src/hooks/api/tokens/useSyncTokens.ts
  apps/web/src/scenes/CommunityPage/CommunityPageOwnershipRequiredModal.tsx
Labels: mobile, web
