Repository gallery-so/gallery, pull requests merged in 2024-04, with the labels that each got.

#2392 remove some errors logged in console in feed
  apps/web/src/components/MintLinkButton.tsx
  apps/web/src/icons/TopActivityBadgeIcon.tsx
  apps/web/src/icons/ZoraLogoIcon.tsx
  apps/web/src/scenes/UserGalleryPage/UserSharedInfo/UserSharedFollowers.tsx
Labels: web

#2388 truncate long posts with gradient
  apps/mobile/package.json
  apps/mobile/src/components/Feed/Posts/PostListCaption.tsx
  yarn.lock
Labels: mobile, libraries

#2385 Nonce auth migration
  apps/mobile/src/components/Login/AuthProvider/CoinbaseWallet/useCoinbaseWallet.ts
  apps/mobile/src/components/Login/AuthProvider/WalletConnect/useWallectConnect.ts
  apps/mobile/src/components/Login/WalletSelectorBottomSheet.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
  apps/web/src/components/WalletSelector/multichain/EthereumAddWallet.tsx
  apps/web/src/components/WalletSelector/multichain/EthereumAuthenticateWallet.tsx
  apps/web/src/components/WalletSelector/multichain/GnosisSafeAddWallet.tsx
  apps/web/src/components/WalletSelector/multichain/GnosisSafeAuthenticateWallet.tsx
  apps/web/src/components/WalletSelector/multichain/tezos/TezosAddWallet.tsx
  apps/web/src/components/WalletSelector/multichain/tezos/TezosAuthenticateWallet.tsx
  apps/web/src/components/WalletSelector/mutations/useLoginOrRedirectToOnboarding.ts
  apps/web/src/hooks/api/users/useAuthPayloadQuery.ts
  packages/shared/src/hooks/useAuthPayloadQuery.ts
  packages/shared/src/hooks/useCreateNonce.ts
  packages/shared/src/hooks/useCreateUser.ts
  schema.graphql
Labels: mobile, web, shared, schema

#2395 Improve signout on local device
  apps/mobile/src/hooks/useLogout.ts
Labels: mobile

#2393 Add In app Mint Flow
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignBottomSheet.tsx
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignPostTransaction.tsx
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignPreTransaction.tsx
  apps/mobile/src/components/Notification/Notifications/GalleryAnnouncement.tsx
  apps/mobile/src/components/Onboarding/WelcomeNewUser.tsx
  apps/mobile/src/components/Onboarding/WelcomeNewUserOnboarding.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/components/Text.tsx
  apps/mobile/src/constants/storageKeys.ts
  apps/mobile/src/contexts/BottomSheetModalContext.tsx
  apps/mobile/src/hooks/useHighlightClaimMint.ts
  apps/mobile/src/hooks/usePersistedState.ts
  apps/mobile/src/icons/SpinnerIcon.tsx
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/mobile/src/screens/SettingsScreen/DebugBottomSheetModal.tsx
  apps/mobile/src/screens/SettingsScreen/SettingsScreen.tsx
  packages/shared/src/analytics/constants.ts
  schema.graphql
Labels: mobile, shared, schema

#2397 privy and farcaster auth
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/components/Login/AuthProvider/Farcaster/FarcasterAuthProvider.tsx
  apps/mobile/src/components/Login/SignInBottomSheet.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/hooks/useLogout.ts
  apps/mobile/src/navigation/LoginStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/Login/Onboarding2FAScreen.tsx
  apps/mobile/src/screens/Login/OnboardingEmailScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
  apps/web/src/components/Profile/useUserInfoForm.ts
  apps/web/src/scenes/Onboarding/OnboardingAddUsernamePage.tsx
  packages/shared/src/hooks/useAuthPayloadQuery.ts
  packages/shared/src/hooks/useCreateUser.ts
  packages/shared/src/hooks/useGetUserByWalletAddress.ts
  schema.graphql
  yarn.lock
Labels: mobile, web, shared, schema, libraries

#2398 reorder signin
  apps/mobile/src/components/Login/SignInBottomSheet.tsx
Labels: mobile

#2400 make exception for apr-2024-mchx-collab so that only updated clients see the announcement
  apps/mobile/src/components/Notification/Notification.tsx
Labels: mobile

#2401 rename to radiance
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignPostTransaction.tsx
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignPreTransaction.tsx
Labels: mobile

#2402 [mobile] bump version 1.0.54
  apps/mobile/app.config.ts
Labels: mobile

#2399 make explore page gallery selects powered by sanity
  apps/web/pages/explore.tsx
  apps/web/src/components/Explore/Explore.tsx
  apps/web/src/components/Explore/GallerySelects.tsx
  apps/web/src/icons/ArrowUpRightIcon.tsx
  apps/web/src/scenes/ContentPages/cms_types.ts
  apps/web/src/scenes/Home/ExploreHomePage.tsx
Labels: web

#2403 add missing import
  apps/mobile/src/components/Notification/Notifications/SomeoneYouFollowOnFarcasterJoined.tsx
Labels: mobile

#2406 mobile version bump
  apps/mobile/app.config.ts
  apps/mobile/src/App.tsx
Labels: mobile

#2405 Remove mint.fun button from mobile
  apps/mobile/src/components/MintLinkButton.tsx
  apps/web/src/components/MintLinkButton.tsx
  packages/shared/src/utils/getMintUrlWithReferrer.test.ts
  packages/shared/src/utils/getMintUrlWithReferrer.ts
Labels: mobile, web, shared

#2409 Supply authMechanism in email update during mobile user creation flow
  apps/mobile/src/screens/Login/Onboarding2FAScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
  apps/web/src/components/Email/EmailForm.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddUsernamePage.tsx
  packages/shared/src/hooks/useCreateUser.ts
  packages/shared/src/hooks/useUpdateEmail.ts
  schema.graphql
Labels: mobile, web, shared, schema

#2410 Use privy auth mechanism, improve email validation UI
  apps/mobile/src/screens/Login/Onboarding2FAScreen.tsx
  apps/mobile/src/screens/Login/OnboardingEmailScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
  packages/shared/src/hooks/useAuthPayloadQuery.ts
  packages/shared/src/hooks/useCreateUser.ts
Labels: mobile, shared

#2412 fix dark mode gradient
  apps/mobile/src/components/Feed/Posts/PostListCaption.tsx
  apps/mobile/src/hooks/useGradientColorScheme.ts
Labels: mobile

#2414 update Search Default state on mobile
  apps/mobile/src/components/Search/SearchDefault.tsx
  apps/mobile/src/components/Search/SearchDefaultFallback.tsx
  apps/mobile/src/components/Trending/TrendingUserCard.tsx
  apps/mobile/src/screens/SearchScreen.tsx
Labels: mobile

#2415 fix click not handling sidebar hide
  apps/web/src/contexts/globalLayout/GlobalSidebar/SidebarIcon.tsx
Labels: web

#2416 Allow admins to select any network for created tokens
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarChainDropdown.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterNetwork.tsx
Labels: web

#2418 fix transition to NftDetail page on web
  apps/web/src/scenes/NftDetailPage/NftDetailAssetContainer.tsx
Labels: web

#2419 bug fix: wallet truncation on nft detail mobile
  apps/mobile/src/components/EnsOrAddress.tsx
Labels: mobile

#2421 fix regression where all chains are disabled for collected tab
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarChainDropdown.tsx
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterNetwork.tsx
Labels: web

#2420 if primary address is non eth, check other wallets to mint to
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignPreTransaction.tsx
Labels: mobile

#2424 tall token in NewToken notif is squished
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
Labels: web

#2425 followup to Search Default state on web
  apps/web/src/components/Feed/SuggestedProfileCard.tsx
  apps/web/src/components/Search/Search.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/AnimatedSidebarDrawer.tsx
Labels: web

#2417 add SuggestedUser card row in mobile feed
  apps/mobile/src/components/Feed/FeedVirtualizedRow.tsx
  apps/mobile/src/components/Feed/Posts/FeedSuggestedProfileRow.tsx
  apps/mobile/src/components/Feed/createVirtualizedFeedEventItems.ts
Labels: mobile

#2423 mchx campaign banner and mint on gallery
  apps/mobile/src/components/ClaimMintUpsellBanner.tsx
  apps/mobile/src/components/Feed/Posts/PostListMintButtonSection.tsx
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/icons/GLogoIcon.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/utils/isRadianceContractAddress.ts
  schema.graphql
Labels: mobile, schema

#2426 Refactor all bottom sheets to use BottomSheetModalContext, fix bug preventing Bottom Sheet from opening if Reduced Motion iOS setting is on
  apps/mobile/src/components/CommunitiesList/CommunityCard.tsx
  apps/mobile/src/components/Community/CommunityBottomSheet.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsListItem.tsx
  apps/mobile/src/components/Community/CommunityHeader.tsx
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/Community/CommunityMetadataFormBottomSheet.tsx
  apps/mobile/src/components/Community/CommunityPostBottomSheet.tsx
  apps/mobile/src/components/Community/Tabs/CommunityViewPostsTab.tsx
  apps/mobile/src/components/Feed/AdmireBottomSheet/AdmireBottomSheet.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/Events/UserFollowedUsersFeedEvent.tsx
  apps/mobile/src/components/Feed/Posts/DeletePostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Posts/FirstTimePosterBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/mobile/src/components/Feed/Posts/WarningLinkBottomSheet.tsx
  apps/mobile/src/components/Feed/Socialize/Admires.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/components/GalleryBottomSheet/GalleryBottomSheetModal.tsx
  apps/mobile/src/components/Login/SignInBottomSheet.tsx
  apps/mobile/src/components/Login/WalletSelectorBottomSheet.tsx
  apps/mobile/src/components/MarfaCheckIn/MarfaCheckInSheet.tsx
  apps/mobile/src/components/NftSelector/NftSelectorToolbar.tsx
  apps/mobile/src/components/Notification/NotificationBottomSheetUserList.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourComment.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourPost.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneFollowedYou.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneFollowedYouBack.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneViewedYourGallery.tsx
  apps/mobile/src/components/Onboarding/WelcomeNewUser.tsx
  apps/mobile/src/components/Onboarding/WelcomeNewUserOnboarding.tsx
  apps/mobile/src/components/PfpPicker/PfpBottomSheet.tsx
  apps/mobile/src/components/Post/PostMintLinkInput.tsx
  apps/mobile/src/components/Post/SupportedMintLinkBottomSheet.tsx
  apps/mobile/src/components/Post/WarningPostBottomSheet.tsx
  apps/mobile/src/components/ProcessedText/elements/LinkComponent.tsx
  apps/mobile/src/components/ProfileView/BadgeProfileBottomSheet.tsx
  apps/mobile/src/components/ProfileView/GalleryProfileMoreOptionsBottomSheet.tsx
  apps/mobile/src/components/ProfileView/GalleryProfileNavBar.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowers.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowersSheet.tsx
  apps/mobile/src/components/ProfileView/Tabs/ProfileViewFollowersTab.tsx
  apps/mobile/src/components/Select.tsx
  apps/mobile/src/components/UserFollowList/UserFollowCard.tsx
  apps/mobile/src/contexts/BottomSheetModalContext.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  apps/mobile/src/screens/Login/LandingScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/AdmireBottomSheet.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorFilterBottomSheet.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/mobile/src/screens/PostScreen/SharePostBottomSheet.tsx
  apps/mobile/src/screens/SettingsProfileScreen.tsx
Labels: mobile

#2428 Kaito/bottom sheet regression
  apps/mobile/src/components/Feed/AdmireBottomSheet/AdmireBottomSheet.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Feed/Posts/PostBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/PostListSectionHeader.tsx
  apps/mobile/src/components/Feed/Socialize/Admires.tsx
  apps/mobile/src/components/Feed/Socialize/FeedEventSocializeSection.tsx
  apps/mobile/src/components/FeedbackBottomSheetModal.tsx
  apps/mobile/src/components/GalleryBottomSheet/GalleryBottomSheetModal.tsx
  apps/mobile/src/components/Notification/NotificationBottomSheetUserList.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunities.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedCommunitiesSheet.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowers.tsx
  apps/mobile/src/components/ProfileView/ProfileViewSharedInfo/ProfileViewSharedFollowersSheet.tsx
  apps/mobile/src/contexts/BottomSheetModalContext.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/screens/HomeScreen/UserSuggestionListScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/AdmireBottomSheet.tsx
Labels: mobile

#2432 Fix mobile login with farcaster
  apps/mobile/src/App.tsx
  apps/mobile/src/components/Login/AuthProvider/Farcaster/FarcasterAuthProvider.tsx
  apps/mobile/src/components/Login/SignInBottomSheet.tsx
Labels: mobile

#2429 [GAL-5440] add Suggested Profiles in curated Feed web
  apps/web/src/components/Badge/Badge.tsx
  apps/web/src/components/Feed/CuratedFeed.tsx
  apps/web/src/components/Feed/FeedList.tsx
  apps/web/src/components/Feed/FeedSuggestedProfileSection.tsx
  apps/web/src/components/Feed/SuggestedProfileCard.tsx
  apps/web/src/components/Search/SearchDefaultSuggestedUsersSection.tsx
  apps/web/src/components/core/Carousel/Carousel.tsx
Labels: web

#2435 bump version to 1.0.59
  apps/mobile/app.config.ts
Labels: mobile

#2436 Improve mobile onboarding progress bar
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
Labels: mobile

#2439 bug fix: padding lost in onboarding recommended user follow list
  apps/mobile/src/screens/Onboarding/OnboardingRecommendedUsers.tsx
Labels: mobile

#2442 Display universal auth modal when attempting authenticated actions
  apps/web/jest.config.js
  apps/web/src/components/Feed/Socialize/AdmireButton.tsx
  apps/web/src/components/Feed/Socialize/AdmireLine.tsx
  apps/web/src/components/Feed/Socialize/CommentBox/CommentBox.tsx
  apps/web/src/components/Follow/FollowButton.tsx
  apps/web/src/components/NftPreview/NftPreviewBookmarkLabel.tsx
  apps/web/src/contexts/globalLayout/GlobalAnnouncementPopover/GlobalAnnouncementPopover.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/SignUpButton.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/hooks/useAuthModal.tsx
  apps/web/src/scenes/LandingPage/LandingPage.tsx
  apps/web/src/scenes/MerchStorePage/MerchStorePage.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.test.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
Labels: web

#2443 bug fix: pfp not working on mobile
  apps/mobile/src/components/ProfilePicture/ProfilePicture.tsx
Labels: mobile

#2444 Gallery editor polish
  apps/mobile/src/components/GalleryEditor/GalleryEditorHeader.tsx
  apps/mobile/src/components/GalleryEditor/GalleryEditorRenderer.tsx
  apps/mobile/src/components/GalleryEditor/GalleryEditorSection.tsx
  apps/mobile/src/components/GalleryEditor/SortableRowList.tsx
  apps/mobile/src/screens/GalleryScreen/GalleryEditorScreen.tsx
Labels: mobile

#2438 profile screen skeleton loader
  apps/web/pages/[username]/index.tsx
  apps/web/src/components/MultiShimmer/MultiShimmer.tsx
  apps/web/src/components/Profile/ProfileScreenLoadingSkeleton.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/useGlobalNavbarHeight.tsx
  apps/web/src/contexts/shimmer/ShimmerContext.tsx
  apps/web/src/hooks/useNftRetry.tsx
  apps/web/src/scenes/GalleryPage/GalleriesPage.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollections.tsx
Labels: web

#2446 Remove requirement for suggested farcaster users
  apps/web/src/scenes/Onboarding/OnboardingRecommendUsersPage.tsx
Labels: web

#2447 enable base creator support
  packages/shared/src/utils/chains.ts
Labels: shared

#2434 added fallback to onboarding recommend users on web
  apps/web/pages/onboarding/recommend-users.tsx
  apps/web/src/scenes/Onboarding/OnboardingRecommendUsersFallback.tsx
Labels: web

#2431 fetch tokens while syncing (web & mobile)
  apps/mobile/src/contexts/TokenStateManagerContext.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/web/src/components/NftSelector/NftSelector.tsx
  apps/web/src/components/NftSelector/NftSelectorTokens.tsx
  apps/web/src/components/NftSelector/NftSelectorView.tsx
  apps/web/src/contexts/SyncTokensLockContext.tsx
  apps/web/src/hooks/api/tokens/useSyncCreatedTokensForExistingContract.ts
  apps/web/src/hooks/api/tokens/useSyncTokens.ts
Labels: mobile, web

#2448 bump expo version
  apps/mobile/package.json
  yarn.lock
Labels: mobile, libraries

#2441 Make the token draggable
  apps/mobile/package.json
  apps/mobile/src/components/GalleryEditor/GalleryEditorNavbar.tsx
  apps/mobile/src/components/GalleryEditor/GalleryEditorRow.tsx
  apps/mobile/src/components/GalleryEditor/GalleryEditorSection.tsx
  apps/mobile/src/components/GalleryEditor/SortableRow.tsx
  apps/mobile/src/components/GalleryEditor/SortableRowList.tsx
  apps/mobile/src/components/GalleryEditor/SortableTokenGrid/SortableToken.tsx
  apps/mobile/src/components/GalleryEditor/SortableTokenGrid/SortableTokenGrid.tsx
  apps/mobile/src/components/GalleryEditor/SortableTokenGrid/utils.ts
  apps/mobile/src/contexts/GalleryEditor/GalleryEditorContext.tsx
  yarn.lock
Labels: mobile, libraries

#2450 followup: remove opacity dip for trending user card mobile
  apps/mobile/src/components/GalleryTouchableOpacity.tsx
  apps/mobile/src/components/ProfilePicture/ProfilePicture.tsx
Labels: mobile
