Repository gallery-so/gallery, pull requests merged in 2024-01, with the labels that each got.

#2217 [GAL-4989] Admire Comment Polish + Bug fix
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Notification/Notifications/YouReceivedTopActivityBadge.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/UsernameLink.tsx
Labels: mobile, web

#2218 GAL-4900 remove creator global popover
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
  apps/web/tests/graphql/mockGlobalLayoutQuery.ts
Labels: web

#2219 Remove snow
  apps/web/src/contexts/AppProvider.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CollectionNavbar/CollectionNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CommunityNavbar/CommunityNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/HomeNavbar/HomeNavbar.tsx
  apps/web/src/contexts/snow/SnowContext.tsx
Labels: web

#2221 GAL-5015 wrap nft detail preview in a tag
  apps/web/src/scenes/NftDetailPage/LinkToFullPageNftDetailModal.tsx
Labels: web

#2222 GAL-5017 fix width on auth modal buttons
  apps/web/src/hooks/useAuthModal.tsx
Labels: web

#2223 GAL-5006 disable comment submit button if over max length
  apps/web/src/components/Feed/Socialize/CommentBox/CommentBox.tsx
Labels: web

#2225 [GAL-5020] Move social pill display config to backend
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryHeader.tsx
  packages/shared/src/hooks/useIsChristinaFromLens.ts
Labels: mobile, web, shared

#2226 Commit autoformatted tsconfig
  apps/mobile/tsconfig.json
  apps/web/tsconfig.json
Labels: mobile, web

#2220 Add swipe delete feature
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/DeleteCommentWarningBottomSheet.tsx
  apps/mobile/src/icons/TrashIcon.tsx
Labels: mobile

#2227 [GAL-4991] Fix incorrect links to fxhash
  packages/shared/src/utils/getTezosExternalUrl.ts
Labels: shared

#2230 [GAL-5027] Fix suspense boundary for post composer
  apps/web/src/components/Posts/PostComposerModal.tsx
Labels: web

#2228 [GAL-5013] [GAL-4899] Polish textarea for comment and post composer
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
  apps/mobile/src/components/Post/PostInput.tsx
  apps/mobile/src/components/Post/PostMintLinkInput.tsx
  apps/web/src/components/Feed/Socialize/CommentBox/CommentBox.tsx
  apps/web/src/components/GalleryEditor/CollectionCreateOrEditForm.tsx
  apps/web/src/components/Posts/PostComposer.tsx
  apps/web/src/components/Posts/PostComposerMintLinkInput.tsx
  apps/web/src/components/Posts/PostComposerTextArea.tsx
  apps/web/src/components/core/TextArea/TextArea.tsx
  packages/shared/src/utils/getRemainingCharacterCount.test.ts
  packages/shared/src/utils/getRemainingCharacterCount.ts
Labels: mobile, web, shared

#2231 [GAL-5028] Fix multiple tokens minted notification on web, mobile
  apps/mobile/src/components/ButtonChip.tsx
  apps/mobile/src/components/FollowButton.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/mobile/src/components/Notification/Notifications/NotificationTokenPreview.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/NewTokens.tsx
Labels: mobile, web

#2232 [GAL-4994] Ability to stage all tokens within a collection
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/AddAllIcon.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/CollectionTitle.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/SidebarList/SidebarList.tsx
  apps/web/src/components/GalleryEditor/PiecesSidebar/createVirtualizedRowsFromGroups.ts
  apps/web/src/components/core/IconContainer.tsx
  apps/web/src/contexts/collectionEditor/CollectionEditorContext.tsx
  apps/web/src/icons/AddAllTextIcon.tsx
Labels: web

#2233 [GAL-4992] Remove creator application form on editor
  apps/web/src/components/GalleryEditor/PiecesSidebar/PiecesSidebar.tsx
  apps/web/src/components/UpsellBanner/UpsellBanner.tsx
  apps/web/src/hooks/useAddWalletModal.tsx
Labels: web

#2224 GAL-5012 add solana soon button
  apps/web/src/components/WalletSelector/multichain/MultichainWalletSelector.tsx
  apps/web/src/components/WalletSelector/multichain/WalletButton.tsx
  apps/web/src/components/WalletSelector/multichain/supportedAuthMethods.ts
Labels: web

#2234 [GAL-5026] Someone mentioned your community notification support
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneMentionedYourCommunity.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneMentionedYourCommunity.tsx
Labels: mobile, web

#2229 Increase displayed nft size on detail page + other polish
  apps/web/src/hooks/useContainedDimensionsForToken.ts
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailNote.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPage.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPageFallback.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailAsset.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailView.tsx
  packages/shared/src/utils/fitDimensionsToContainer.ts
Labels: web, shared

#2235 [mobile] bump version 1.0.40
  apps/mobile/app.config.ts
Labels: mobile

#2237 Fix broken collection description updates on web
  apps/web/src/components/core/TextArea/TextArea.tsx
Labels: web

#2239 Polish fallback mobile
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentListFallback.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreenFallback.tsx
Labels: mobile

#2238 Fix regression follow btn profile
  apps/mobile/src/components/FollowButton.tsx
Labels: mobile

#2240 follow up on nft detail page updates
  apps/web/src/scenes/NftDetailPage/NftDetailPageFallback.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
Labels: web

#2242 only enable mint links on zora, or when manually set
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/web/src/components/Posts/PostComposer.tsx
Labels: mobile, web

#2243 Fix highlight reply notification web
  apps/web/src/components/Notifications/Notification.tsx
Labels: web

#2246 Community header scrollable
  apps/mobile/src/components/Community/CommunityCollectors.tsx
  apps/mobile/src/components/Community/CommunityCollectorsList.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
Labels: mobile

#2244 Upgrade Expo to v49
  README.md
  apps/mobile/app.config.ts
  apps/mobile/env/.env.dev
  apps/mobile/env/.env.local
  apps/mobile/env/.env.prod
  apps/mobile/env/env.js
  apps/mobile/package.json
  apps/mobile/src/components/DevMenuItems.tsx
  apps/mobile/src/components/GalleryBottomSheet/GalleryBottomSheetModal.tsx
  apps/mobile/src/components/MarfaCheckIn/CheckInEmailEntry.tsx
  apps/mobile/src/contexts/MobileAnalyticsProvider.tsx
  apps/mobile/src/contexts/ToastContext.tsx
  apps/mobile/src/contexts/relay/RelayProvider.tsx
  apps/mobile/src/magic.ts
  apps/mobile/src/utils/sanity.ts
  apps/mobile/src/utils/useIntervalEffectOnAppForeground.ts
  package.json
  yarn.lock
Labels: mobile, libraries

#2248 Render converted mp4s on feed
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/components/Notification/registerNotificationToken.ts
  apps/mobile/src/hooks/useLogout.ts
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/NftDetailAsset.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailAsset/NftDetailAssetVideo.tsx
  apps/mobile/src/screens/SettingsScreen/DebugBottomSheet.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/GalleryEditor/CollectionEditor/CollectionEditor.tsx
  apps/web/src/components/GalleryEditor/getAutogeneratedGallery.ts
  apps/web/src/scenes/NftDetailPage/NftDetailVideo.tsx
Labels: mobile, web

#2249 Add foundation mint link support
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/icons/FoundationIcon.tsx
  apps/web/src/components/MintLinkButton.tsx
  apps/web/src/icons/FoundationLogoIcon.tsx
  packages/shared/src/utils/getMintUrlWithReferrer.test.ts
  packages/shared/src/utils/getMintUrlWithReferrer.ts
Labels: mobile, web, shared

#2250 Markdown render ignores header md styling
  apps/mobile/src/components/Markdown.tsx
Labels: mobile

#2215 add suggested users to follow in onboarding
  apps/mobile/src/components/ButtonChip.tsx
  apps/mobile/src/components/FollowButton.tsx
  apps/mobile/src/components/UserFollowList/UserFollowCard.tsx
  apps/mobile/src/components/UserFollowList/UserFollowList.tsx
  apps/mobile/src/icons/RightArrowIcon.tsx
  apps/mobile/src/navigation/LoginStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/Onboarding/OnboardingProfileBioScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingRecommendedUsers.tsx
  packages/shared/src/relay/useFollowAllRecommendedUsers.ts
Labels: mobile, shared

#2252 Remove secret snow toggle
  apps/web/src/contexts/snow/SnowContext.tsx
Labels: web

#2253 Track mint providers
  apps/mobile/src/components/MintLinkButton.tsx
  apps/web/src/components/MintLinkButton.tsx
Labels: mobile, web

#2254 remove whats new tab from notifiations tab
  apps/web/src/components/Announcement/AnnouncementList.tsx
  apps/web/src/components/Announcement/constants.ts
  apps/web/src/components/Announcement/useAnnouncement.tsx
  apps/web/src/components/Notifications/Notifications.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
Labels: web

#2255 contain fallback image size on nft detail page
  apps/web/src/scenes/NftDetailPage/NftDetailPageFallback.tsx
Labels: web

#2251 center VideoMedia in posts
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
Labels: mobile

#2258 [mobile] bump version 1.0.44
  apps/mobile/app.config.ts
Labels: mobile

#2259 [GAL-5059] Notification polish
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheet.tsx
  apps/mobile/src/components/Feed/Posts/FeedPostSocializeSection.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourComment.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/navigation/types.ts
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentsModal.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/FeedEventsCommentsModal.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/PostCommentsModal.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourComment.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourPost.tsx
  apps/web/src/components/Notifications/notifications/SomeoneAdmiredYourToken.tsx
  apps/web/src/components/Notifications/notifications/SomeoneCommentedOnYourPost.tsx
  apps/web/src/scenes/Post/StandalonePostView.tsx
Labels: mobile, web

#2260 fix shop - update import syntax for web3 utils
  apps/web/src/hooks/useMintContractWithQuantity.tsx
  apps/web/src/utils/MerkleTree.ts
Labels: web

#2261 update pill styling
  apps/web/src/scenes/UserGalleryPage/UserSocialPill.tsx
  apps/web/src/scenes/UserGalleryPage/UserTwitterSection.tsx
Labels: web

#2263 Always enable mint link toggle
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
  apps/web/src/components/Posts/PostComposer.tsx
Labels: mobile, web

#2247 Landing Page
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/public/icons/apple_logo.svg
  apps/web/src/components/GalleryTitleIntro/GalleryTitleIntro.tsx
  apps/web/src/components/core/Carousel/Carousel.tsx
  apps/web/src/contexts/boundary/Boundary.tsx
  apps/web/src/contexts/globalLayout/GlobalFooter/GlobalFooter.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/BasicNavbar/BasicNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CollectionNavbar/CollectionRightContent.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CommunityNavbar/CommunityNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryRightContent.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/HomeNavbar/HomeNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/SignInButton.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/SignUpButton.tsx
  apps/web/src/scenes/ContentPages/ContentModules/FeatureHighlight.tsx
  apps/web/src/scenes/ContentPages/ContentModules/FeaturedProfiles.tsx
  apps/web/src/scenes/ContentPages/ContentModules/Testimonials.tsx
  apps/web/src/scenes/ContentPages/cms_types.ts
  apps/web/src/scenes/LandingPage/DownloadAppQrModal.tsx
  apps/web/src/scenes/LandingPage/LandingCoverAnimation.tsx
  apps/web/src/scenes/LandingPage/LandingCoverAnimationImages.tsx
  apps/web/src/scenes/LandingPage/LandingPage.tsx
  apps/web/src/scenes/LandingPage/LandingPageNavbar.tsx
  apps/web/src/scenes/WelcomeAnimation/Image.tsx
  apps/web/src/scenes/WelcomeAnimation/Images.tsx
  apps/web/src/scenes/WelcomeAnimation/WelcomeAnimation.tsx
  apps/web/src/scenes/_Router/GalleryRoute.tsx
  yarn.lock
Labels: web, libraries

#2265 fix polygon OS links
  packages/shared/src/utils/getOpenseaExternalUrl.ts
Labels: shared

#2266 [GAL-5069] UserFollowList regression
  apps/mobile/src/components/ProcessedText/ProcessedText.tsx
  apps/mobile/src/components/ProcessedText/elements/LinkAsPlaintextComponent.tsx
  apps/mobile/src/components/UserFollowList/UserFollowCard.tsx
Labels: mobile

#2267 Kaito/swap image
  apps/web/src/scenes/LandingPage/LandingCoverAnimationImages.tsx
Labels: web

#2268 Use fallback assets for corrupt videos
  apps/web/src/components/LoadingAsset/ImageWithLoading.tsx
  apps/web/src/icons/FoundationLogoIcon.tsx
  apps/web/src/icons/HdDisabledIcon.tsx
  apps/web/src/icons/LensIcon.tsx
  apps/web/src/icons/LogoLarge.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailVideo.tsx
  apps/web/src/scenes/TokenDetailPage/TokenDetailAsset.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollection.tsx
Labels: web

#2264 Grid view in community screen (mobile)
  apps/mobile/src/components/Community/CommunityCollectors.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsGridFallback.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsGridItem.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsGridRow.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsHeader.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsListItem.tsx
  apps/mobile/src/components/Community/CommunityCollectorsList.tsx
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/components/Community/CommunityViewFallback.tsx
  apps/mobile/src/components/UserFollowList/UserFollowCard.tsx
  apps/mobile/src/icons/GridIcon.tsx
  apps/mobile/src/icons/ListIcon.tsx
Labels: mobile

#2270 if logged out home will navigate to landing page
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
Labels: web

#2269 Community Grid View (Web)
  apps/web/src/components/Community/CommunityHolderList.tsx
  apps/web/src/components/CommunityHolderGrid/CommunityHolderGrid.tsx
  apps/web/src/components/CommunityHolderGrid/CommunityHolderGridItem.tsx
  apps/web/src/components/ProfilePicture/RawProfilePicture.tsx
  apps/web/src/components/TokenHolderList/TokenHolderList.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageCollectorsTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageTabs.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
  apps/web/src/scenes/CommunityPage/LayoutToggleButton.tsx
  apps/web/src/scenes/NftDetailPage/LinkToFullPageNftDetailModal.tsx
  apps/web/src/scenes/UserGalleryPage/MobileLayoutToggle.tsx
  packages/shared/src/utils/communities.ts
Labels: web, shared

#2271 Temp fix punks
  apps/web/src/components/NftPreview/NftPreview.tsx
  packages/shared/src/utils/communities.ts
Labels: web, shared

#2272 Polish new grid collection page
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsGridFallback.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsGridItem.tsx
  apps/mobile/src/components/ProfilePicture/RawProfilePicture.tsx
Labels: mobile

#2274 Farcaster frames support
  apps/web/pages/opengraph/collection/[collectionId]/fcframe.tsx
  apps/web/pages/opengraph/user/[username]/fcframe.tsx
  apps/web/src/constants/opengraph.ts
  apps/web/src/utils/openGraphMetaTags.ts
Labels: web

#2275 Limit number of frames, increase text size
  apps/web/pages/opengraph/user/[username]/fcframe.tsx
Labels: web

#2273 Community Gallery Mobile
  apps/mobile/src/components/Community/CommunityGalleries/CommunityGalleries.tsx
  apps/mobile/src/components/Community/CommunityGalleries/CommunityGalleriesItem.tsx
  apps/mobile/src/components/Community/CommunityGalleries/CommunityGalleriesRow.tsx
  apps/mobile/src/components/Community/CommunityTabsHeader.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
  apps/mobile/src/constants/community.ts
  apps/mobile/src/screens/CommunityScreen/CommunityScreen.tsx
  schema.graphql
Labels: mobile, schema

#2277 reorder sidebar
  apps/web/src/contexts/globalLayout/GlobalSidebar/SidebarPfp.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/icons/HomeIcon.tsx
Labels: web

#2279 GAL-5095 make feed infinite scroll and remove footer from home
  apps/web/pages/home.tsx
  apps/web/src/components/Feed/FeedList.tsx
Labels: web

#2281 remove hardcoded bg color for punks
  apps/web/src/utils/token.ts
Labels: web

#2284 improvement to nft detail page transition
  apps/web/src/scenes/NftDetailPage/NftDetailAsset.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailPageFallback.tsx
Labels: web

#2283 bug fix for tokens adjacent to broken token media in gallery
  apps/web/src/scenes/NftDetailPage/NftDetailView.tsx
Labels: web

#2285 ditch localCompare for gallery sorting
  apps/web/src/scenes/GalleryPage/GalleriesPage.tsx
Labels: web
