Repository gallery-so/gallery, pull requests merged in 2024-03, with the labels that each got.

#2344 Add Share button to dropdown of Gallery on Multi Gallery tab
  apps/web/src/components/MultiGallery/Gallery.tsx
Labels: web

#2343 add skeleton state to composer
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
Labels: mobile

#2347 Add suggested farcaster graph in onboarding
  apps/mobile/src/screens/Onboarding/OnboardingRecommendedUsers.tsx
  schema.graphql
Labels: mobile, schema

#2332 Web Onboarding Improvement
  apps/web/pages/onboarding/add-email.tsx
  apps/web/pages/onboarding/add-persona.tsx
  apps/web/pages/onboarding/add-profile-picture.tsx
  apps/web/pages/onboarding/add-user-info.tsx
  apps/web/pages/onboarding/add-username.tsx
  apps/web/pages/onboarding/recommend-users.tsx
  apps/web/src/components/EmptyState/EmptyState.tsx
  apps/web/src/components/Follow/FollowButton.tsx
  apps/web/src/components/ManageWallets/ManageWallets.tsx
  apps/web/src/components/Onboarding/FullPageCenteredStep.tsx
  apps/web/src/components/Onboarding/OnboardingFooter.tsx
  apps/web/src/components/Onboarding/constants.ts
  apps/web/src/components/Settings/ManageEmailSection/ManageEmailSection.tsx
  apps/web/src/components/WalletSelector/WalletSelector.tsx
  apps/web/src/components/WalletSelector/multichain/MagicLinkLogin.tsx
  apps/web/src/components/WalletSelector/multichain/MultichainWalletSelector.tsx
  apps/web/src/components/WalletSelector/mutations/useLoginOrRedirectToOnboarding.ts
  apps/web/src/components/WizardFooter.tsx
  apps/web/src/components/core/Input/Input.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/AuthButton.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/BasicNavbar/BasicNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CollectionNavbar/CollectionRightContent.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/CommunityNavbar/CommunityNavbar.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryRightContent.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/HomeNavbar/HomeNavbar.tsx
  apps/web/src/hooks/api/tokens/useSyncTokens.ts
  apps/web/src/hooks/api/users/useAuthPayloadQuery.ts
  apps/web/src/hooks/useAuthModal.tsx
  apps/web/src/hooks/useUniversalAuthModal.tsx
  apps/web/src/icons/EmailIcon.tsx
  apps/web/src/icons/MagicLinkIcon.tsx
  apps/web/src/icons/QrCodeIcon.tsx
  apps/web/src/icons/WalletIcon.tsx
  apps/web/src/scenes/LandingPage/LandingCoverAnimation.tsx
  apps/web/src/scenes/LandingPage/LandingPageNavbar.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddBioPage.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddEmailPage.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddPersonaPage.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddProfilePicturePage.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddUsernamePage.tsx
  apps/web/src/scenes/Onboarding/OnboardingRecommendUsersPage.tsx
  apps/web/src/scenes/Onboarding/style.ts
  apps/web/src/scenes/WelcomeAnimation/WelcomeAnimation.tsx
Labels: web

#2345 Add tooltips for onboarding
  apps/web/src/components/Onboarding/WelcomeNewUser.tsx
  apps/web/src/components/Onboarding/WelcomeNewUserModal.tsx
  apps/web/src/scenes/Home/CuratedHomePage.tsx
Labels: web

#2348 add haptic when pulling down to refresh
  apps/mobile/src/components/GalleryRefreshControl.tsx
Labels: mobile

#2349 pato/fix android feed
  apps/mobile/src/components/GalleryRefreshControl.tsx
Labels: mobile

#2350 pato/fix loading skeleton styles
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
Labels: mobile

#2339 Fix dark screen transition between screen
  apps/mobile/src/screens/Login/OnboardingEmailScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingPersonaScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingProfileBioScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingRecommendedUsers.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
Labels: mobile

#2351 GAL-5263 fix gallery page spacing on mobile
  apps/web/src/scenes/UserGalleryPage/FocusedGalleryPage.tsx
Labels: web

#2357 Add notification when someone you follow on FC joins Gallery - web + mobile
  apps/mobile/src/components/Notification/Notification.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneYouFollowOnFarcasterJoined.tsx
  apps/mobile/src/components/Text.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneYouFollowOnFarcasterJoined.tsx
  schema.graphql
Labels: mobile, web, schema

#2353 Refactor the manage wallet context
  apps/mobile/src/components/Login/WalletProvider/WalletConnect/WalletConnectProvider.tsx
  apps/mobile/src/components/Login/WalletProvider/WalletConnect/useWallectConnect.ts
  apps/mobile/src/components/Login/WalletSelectorBottomSheet.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
Labels: mobile

#2359 fix darkmode inactive color for bookmark icon
  apps/mobile/src/icons/BookmarkIcon.tsx
Labels: mobile

#2360 update readme for dev instructions
  apps/mobile/README.md
Labels: mobile

#2361 add GallerySelects to Explore page
  apps/web/src/components/Explore/Explore.tsx
  apps/web/src/components/Explore/GallerySelects.tsx
Labels: web

#2358 update android package name
  apps/mobile/app.config.ts
  apps/web/public/.well-known/assetlinks.json
Labels: mobile

#2365 refactor explore page data loading to prevent featured user query from blocking the whole page
  apps/web/pages/explore.tsx
  apps/web/src/components/Explore/Explore.tsx
  apps/web/src/components/Explore/FeaturedUsers.tsx
  apps/web/src/components/Explore/TrendingSection.tsx
  apps/web/src/scenes/Home/ExploreHomePage.tsx
Labels: web

#2366 Fix token regression
  apps/mobile/src/components/AnimatedRefreshIcon.tsx
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
Labels: mobile

#2363 update to use new blue for dark mode
  apps/mobile/src/components/ConnectWalletUpsellBanner.tsx
  apps/mobile/src/components/Feed/Socialize/CommentBox.tsx
  apps/mobile/src/components/Notification/NotificationSkeleton.tsx
  apps/mobile/src/components/Notification/Notifications/YouReceivedTopActivityBadge.tsx
  apps/mobile/src/components/Onboarding/OnboardingProgressBar.tsx
  apps/mobile/src/components/ProfileView/GalleryPreviewCard.tsx
  apps/mobile/src/components/Toggle.tsx
  apps/mobile/src/icons/CheckboxIcon.tsx
  apps/mobile/src/icons/TopMemberBadgeIcon.tsx
  apps/mobile/src/navigation/MainTabNavigator/NotificationBlueDot.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/mobile/src/screens/PostScreen/PostComposerScreen.tsx
Labels: mobile

#2368 Fix mobile sync tokens regression
  apps/mobile/src/contexts/SyncTokensContext.tsx
Labels: mobile

#2367 Maintenance mode improvements
  apps/mobile/src/App.tsx
  apps/mobile/src/components/MaintenanceScreen.tsx
  apps/mobile/src/components/Text.tsx
  apps/mobile/src/contexts/BottomSheetModalContext.tsx
  apps/mobile/src/icons/AlertIcon.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/utils/sanity.ts
  apps/mobile/src/utils/useSanityMaintenanceCheckMobile.ts
  apps/web/src/contexts/globalLayout/GlobalBanner/UpcomingMaintenanceBanner.tsx
  apps/web/src/contexts/globalLayout/GlobalLayoutContext.tsx
  packages/shared/src/contexts/MaintenanceStatusContext.tsx
  packages/shared/src/utils/sanity.ts
Labels: mobile, web, shared

#2362 upgrade expo sdk to v50
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/components/GalleryBottomSheet/GalleryBottomSheetModal.tsx
  package.json
  yarn.lock
Labels: mobile, libraries

#2371 Add Coinbase Wallet support
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/components/Login/WalletProvider/CoinbaseWallet/useCoinbaseWallet.ts
  apps/mobile/src/components/Login/WalletSelectorBottomSheet.tsx
  apps/mobile/src/icons/CoinbaseWalletIcon.tsx
  apps/mobile/src/icons/MetamaskIcon.tsx
  apps/mobile/src/icons/RainbowIcon.tsx
  apps/mobile/src/icons/WalletConnectIcon.tsx
  yarn.lock
Labels: mobile, libraries

#2376 add event for opening explore page article
  apps/web/src/components/Explore/GallerySelects.tsx
Labels: web

#2375 gltf fix
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailModel.tsx
Labels: web

#2373 Refactor mobile nft selector
  apps/mobile/src/components/Community/CommunityMeta.tsx
  apps/mobile/src/components/NftSelector/NftSelector.tsx
  apps/mobile/src/components/NftSelector/NftSelectorContract/NftSelectorContract.tsx
  apps/mobile/src/components/NftSelector/NftSelectorContract/NftSelectorContractHeader.tsx
  apps/mobile/src/components/NftSelector/NftSelectorContract/NftSelectorContractPickerGrid.tsx
  apps/mobile/src/components/NftSelector/NftSelectorContract/NftSelectorContractWrapper.tsx
  apps/mobile/src/components/NftSelector/NftSelectorHeader.tsx
  apps/mobile/src/components/NftSelector/NftSelectorToolbar.tsx
  apps/mobile/src/components/NftSelector/NftSelectorWrapper.tsx
  apps/mobile/src/components/NftSelector/useNftSelector.ts
  apps/mobile/src/navigation/LoginStackNavigator.tsx
  apps/mobile/src/navigation/MainTabStackNavigator.tsx
  apps/mobile/src/navigation/PostStackNavigator.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/CommunityScreen/CommunityNftSelectorScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
  apps/mobile/src/screens/Onboarding/OnboardingNftSelectorContractScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingNftSelectorScreeen.tsx
  apps/mobile/src/screens/PostScreen/PostNftSelectorContractScreen.tsx
  apps/mobile/src/screens/PostScreen/PostNftSelectorScreen.tsx
  apps/mobile/src/screens/ProfileScreen/PfpSelectorContractScreen.tsx
  apps/mobile/src/screens/ProfileScreen/PfpSelectorScreen.tsx
Labels: mobile

#2372 [mobile] Login with Farcaster Prep
  apps/mobile/package.json
  apps/mobile/src/App.tsx
  apps/mobile/src/components/Login/AuthProvider/CoinbaseWallet/useCoinbaseWallet.ts
  apps/mobile/src/components/Login/AuthProvider/Farcaster/FarcasterAuthProvider.tsx
  apps/mobile/src/components/Login/AuthProvider/WalletConnect/WalletConnectProvider.tsx
  apps/mobile/src/components/Login/AuthProvider/WalletConnect/useWallectConnect.ts
  apps/mobile/src/components/Login/SignInBottomSheet.tsx
  apps/mobile/src/components/Login/WalletSelectorBottomSheet.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
  apps/mobile/src/icons/FarcasterOutlineIcon.tsx
  packages/shared/src/hooks/useGetUserByWalletAddress.ts
  yarn.lock
Labels: mobile, shared, libraries

#2380 fix android issues
  apps/mobile/README.md
  apps/mobile/app.config.ts
  apps/mobile/moon.yml
  apps/mobile/package.json
  apps/mobile/src/App.tsx
  apps/mobile/src/components/GalleryBottomSheet/GalleryBottomSheetModal.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourComment.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourFeedEvent.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneCommentedOnYourPost.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneMentionedYou.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneRepliedToYourComment.tsx
  apps/mobile/src/components/Notification/Notifications/YouReceivedTopActivityBadge.tsx
  yarn.lock
Labels: mobile, libraries

#2382 [GAL-5338] add referrer on Mint On Zora button from the NFT Detail Page
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
Labels: web

#2384 truncate chain address on nft detail page mobile
  apps/mobile/src/components/LinkableAddress.tsx
Labels: mobile

#2383 update isFrameCompatible flag for post links
  apps/web/pages/post/[postId].tsx
Labels: web

#2386 hide deleted comment if no replies
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetLine.tsx
  apps/mobile/src/components/Feed/CommentsBottomSheet/CommentsBottomSheetSection.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNote.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNoteSection.tsx
Labels: mobile, web

#2387 Web onboarding improvements
  apps/web/src/components/Onboarding/FullPageCenteredStep.tsx
  packages/shared/src/utils/regex.ts
Labels: web, shared
