Repository gallery-so/gallery, pull requests merged in 2024-06, with the labels that each got.

#2472 allowlist new prohibition url for mint link
  packages/shared/src/utils/getMintUrlWithReferrer.ts
Labels: shared

#2471 fix onboarding flash and progress animation
  apps/web/src/components/Onboarding/FullPageCenteredStep.tsx
  apps/web/src/components/WalletSelector/mutations/useLoginOrRedirectToOnboarding.ts
  apps/web/src/contexts/AppProvider.tsx
  apps/web/src/contexts/globalLayout/useStabilizedRouteTransitionKey.ts
  apps/web/src/contexts/onboardingProgress/index.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddBioPage.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddEmailPage.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddProfilePicturePage.tsx
  apps/web/src/scenes/Onboarding/OnboardingAddUsernamePage.tsx
Labels: web

#2468 2fa code boxes input
  apps/mobile/src/screens/Login/Onboarding2FAInput.tsx
  apps/mobile/src/screens/Login/Onboarding2FAScreen.tsx
Labels: mobile
