Repository gallery-so/gallery, pull requests merged in 2024-05, with the labels that each got.

#2451 Add multiple token into gallery editor
  apps/mobile/src/components/AnimatedRefreshIcon.tsx
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/IconContainer.tsx
  apps/mobile/src/components/NftSelector/NftSelectorContract/NftSelectorContractHeader.tsx
  apps/mobile/src/components/NftSelector/NftSelectorContract/NftSelectorContractPickerGrid.tsx
  apps/mobile/src/components/NftSelector/NftSelectorContract/NftSelectorContractToolbar.tsx
  apps/mobile/src/components/NftSelector/NftSelectorHeader.tsx
  apps/mobile/src/components/NftSelector/NftSelectorSelectionIndicator.tsx
  apps/mobile/src/components/NftSelector/NftSelectorToolbar.tsx
  apps/mobile/src/icons/CheckIcon.tsx
  apps/mobile/src/icons/CheckboxIcon.tsx
  apps/mobile/src/icons/MultiSelectIcon.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/GalleryScreen/GalleryEditorNftSelector.tsx
  apps/mobile/src/screens/GalleryScreen/GalleryEditorNftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
Labels: mobile

#2445 Mobile: Add pinned announcement notification powered by Sanity + Make Mint Flow configurable via Sanity
  apps/mobile/src/App.tsx
  apps/mobile/src/components/ClaimMintUpsellBanner.tsx
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignBottomSheet.tsx
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignPostTransaction.tsx
  apps/mobile/src/components/Mint/MintCampaign/MintCampaignPreTransaction.tsx
  apps/mobile/src/components/MintLinkButton.tsx
  apps/mobile/src/components/Notification/NotificationList.tsx
  apps/mobile/src/components/Notification/Notifications/AnnouncementNotification.tsx
  apps/mobile/src/components/Notification/Notifications/GalleryAnnouncement.tsx
  apps/mobile/src/contexts/SanityAnnouncementContext.tsx
  apps/mobile/src/contexts/SanityDataContext.tsx
  apps/mobile/src/navigation/MainTabNavigator/NotificationBlueDot.tsx
  apps/mobile/src/navigation/RootStackNavigator.tsx
  apps/mobile/src/screens/SettingsScreen/DebugBottomSheetModal.tsx
  apps/mobile/src/screens/SettingsScreen/SettingsScreen.tsx
Labels: mobile

#2454 fix profile skeleton
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollections.tsx
Labels: web

#2455 fix add useMemo to tokenids
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollections.tsx
Labels: web

#2456 Fix bottom sheet regression on Connect wallet flow
  apps/mobile/src/components/Login/SignInBottomSheet.tsx
  apps/mobile/src/components/Login/WalletSelectorBottomSheet.tsx
Labels: mobile

#2457 [mobile] bump version 1.0.63
  apps/mobile/app.config.ts
Labels: mobile

#2459 fix announcement and seen state typo
  apps/mobile/src/contexts/SanityAnnouncementContext.tsx
Labels: mobile

#2461 fix: temp empty array for skeleton loader
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollections.tsx
Labels: web

#2458 add announcement notification via sanity to web
  apps/web/src/components/Notifications/AnnouncementNotification.tsx
  apps/web/src/components/Notifications/NotificationList.tsx
  apps/web/src/contexts/SanityAnnouncementProvider.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/GlobalSidebar.tsx
  apps/web/src/contexts/globalLayout/GlobalSidebar/StandardSidebar.tsx
  apps/web/src/scenes/ContentPages/MobileAppLandingPage.tsx
Labels: web

#2463 updated zora creator address links to redirect to zora page
  packages/shared/src/utils/wallet.ts
Labels: shared

#2464 fix for missing preview cards in search default mobile
  .env.sample
  apps/web/src/components/Search/SearchDefaultSuggestedUsersSection.tsx
Labels: web

#2466 fix navigation crash after mint campaign
  apps/mobile/src/components/Notification/Notifications/AnnouncementNotification.tsx
  apps/mobile/src/hooks/useNavigateToCommunityScreen.ts
Labels: mobile

#2460 lightbox mobile
  apps/mobile/package.json
  apps/mobile/src/components/IconContainer.tsx
  apps/mobile/src/icons/CloseIcon.tsx
  apps/mobile/src/icons/MaximizeIcon.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/mobile/src/utils/useIntervalEffectOnAppForeground.ts
  package.json
  yarn.lock
Labels: mobile, libraries

#2469 Revert "NFT lightbox on mobile (#2460)"
  apps/mobile/package.json
  apps/mobile/src/components/IconContainer.tsx
  apps/mobile/src/icons/CloseIcon.tsx
  apps/mobile/src/icons/MaximizeIcon.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/mobile/src/utils/useIntervalEffectOnAppForeground.ts
  package.json
  yarn.lock
Labels: mobile, libraries
