Repository gallery-so/gallery, pull requests merged in 2024-02, with the labels that each got.

#2287 add clear edit gallery button
  apps/web/src/components/MultiGallery/Gallery.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryRightContent.tsx
Labels: web

#2291 upgrade to new OG URLs
  apps/web/pages/[username]/[collectionId]/[tokenId]/index.tsx
  apps/web/pages/[username]/[collectionId]/index.tsx
  apps/web/pages/[username]/galleries/[galleryId].tsx
  apps/web/pages/[username]/index.tsx
  apps/web/pages/[username]/posts.tsx
  apps/web/pages/[username]/token/[tokenId]/index.tsx
  apps/web/pages/post/[postId].tsx
  apps/web/src/utils/openGraphMetaTags.ts
Labels: web

#2292 Deprecate v0 opengraph routes
  apps/web/pages/_app.tsx
  apps/web/pages/opengraph/collection/[collectionId].tsx
  apps/web/pages/opengraph/collection/[collectionId]/fcframe.tsx
  apps/web/pages/opengraph/gallery/[galleryId].tsx
  apps/web/pages/opengraph/nft/[tokenId].tsx
  apps/web/pages/opengraph/post/[postId].tsx
  apps/web/pages/opengraph/user/[username].tsx
  apps/web/pages/opengraph/user/[username]/fcframe.tsx
  apps/web/src/contexts/globalLayout/GlobalAnnouncementPopover/useGlobalAnnouncementPopover.tsx
Labels: web

#2286 Update collection metadata - Mobile
  apps/mobile/env/.env.dev
  apps/mobile/env/.env.local
  apps/mobile/env/.env.prod
  apps/mobile/env/env.js
  apps/mobile/src/components/Community/CommunityHeader.tsx
  apps/mobile/src/components/Community/CommunityMetadataFormBottomSheet.tsx
  apps/mobile/src/components/Community/CommunityView.tsx
Labels: mobile

#2293 Mobile Bookmark token
  apps/mobile/src/components/Community/CommunityMetadataFormBottomSheet.tsx
  apps/mobile/src/components/Notification/Notifications/SomeoneAdmiredYourToken.tsx
  apps/mobile/src/components/Toast/Toast.tsx
  apps/mobile/src/contexts/ToastContext.tsx
  apps/mobile/src/hooks/useToggleTokenAdmire.tsx
  apps/mobile/src/icons/BookmarkIcon.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
Labels: mobile

#2294 fix issue of missing feed items when remounting list
  apps/web/src/components/Feed/FeedList.tsx
Labels: web

#2295 emit gallery view for non-featured galleries
  apps/web/pages/[username]/galleries/[galleryId].tsx
Labels: web

#2296 add single gallery frame compatibility
  apps/web/pages/[username]/galleries/[galleryId].tsx
Labels: web

#2297 delete console logs
  apps/web/src/components/Feed/FeedList.tsx
Labels: web

#2288 Update collection metada - Web
  apps/web/.env.sample
  apps/web/src/components/ProfilePicture/RawProfilePicture.tsx
  apps/web/src/components/Tooltip/useTooltipHover.ts
  apps/web/src/icons/EditPencilIcon.tsx
  apps/web/src/scenes/CommunityPage/CommunityMetadataFormModal.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageViewHeader.tsx
Labels: web

#2298 add bottom sheet context
  apps/mobile/src/App.tsx
  apps/mobile/src/components/FeedbackBottomSheet.tsx
  apps/mobile/src/components/FeedbackBottomSheetModal.tsx
  apps/mobile/src/contexts/BottomSheetModalContext.tsx
  apps/mobile/src/screens/SettingsScreen/DebugBottomSheet.tsx
  apps/mobile/src/screens/SettingsScreen/DebugBottomSheetModal.tsx
  apps/mobile/src/screens/SettingsScreen/SettingsScreen.tsx
Labels: mobile

#2299 GAL-5132 fix mobile spacing on post page and gallery section page
  apps/web/src/scenes/CollectionGalleryPage/CollectionGalleryPage.tsx
  apps/web/src/scenes/Post/StandalonePostPage.tsx
Labels: web

#2278 Add gallery tab to web
  apps/mobile/src/components/Community/CommunityGalleries/CommunityGalleries.tsx
  apps/mobile/src/components/Community/CommunityGalleries/CommunityGalleriesItem.tsx
  apps/web/src/components/Community/CommunityGalleryList.tsx
  apps/web/src/components/Community/CommunityGalleryListItem.tsx
  apps/web/src/components/Explore/ExploreUserCard.tsx
  apps/web/src/contexts/globalLayout/GlobalFooter/GlobalFooter.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageGalleriesTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageTabs.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
Labels: mobile, web

#2301 fix onboarding animation position
  apps/web/src/scenes/WelcomeAnimation/WelcomeAnimation.tsx
Labels: web

#2300 Add inline reply & admire to reply notification
  apps/mobile/src/components/Notification/Notifications/SomeoneRepliedToYourComment.tsx
  apps/web/src/components/Feed/Socialize/CommentsModal/CommentNoteSection.tsx
  apps/web/src/components/Notifications/Notification.tsx
  apps/web/src/components/Notifications/notifications/SomeoneRepliedToYourComment.tsx
Labels: mobile, web

#2304 suppress could not render nft error from reporting
  packages/shared/src/relay/useGetPreviewImages.ts
Labels: shared

#2305 send correct wallet chainAddress for ENS pfp updates
  apps/web/src/components/Profile/ProfilePictureDropdown.tsx
Labels: web

#2302 add bookmark on hover
  apps/web/pages/[username]/bookmarks.tsx
  apps/web/src/components/Bookmarks/BookmarkedTokenGrid.tsx
  apps/web/src/components/Bookmarks/BookmarkedTokenGridItem.tsx
  apps/web/src/components/CommunityHolderGrid/CommunityHolderGrid.tsx
  apps/web/src/components/CommunityHolderGrid/CommunityHolderGridItem.tsx
  apps/web/src/components/Feed/Events/CollectionCreatedFeedEvent.tsx
  apps/web/src/components/Feed/Events/CollectionUpdatedFeedEvent.tsx
  apps/web/src/components/Feed/Events/CollectorsNoteAddedToCollectionFeedEvent.tsx
  apps/web/src/components/Feed/Events/CollectorsNoteAddedToTokenFeedEvent.tsx
  apps/web/src/components/Feed/Events/EventMedia.tsx
  apps/web/src/components/Feed/Events/FeedEventNftPreviewWrapper.tsx
  apps/web/src/components/Feed/Events/TokensAddedToCollectionFeedEvent.tsx
  apps/web/src/components/Feed/FeedEventData.tsx
  apps/web/src/components/Feed/FeedEventTokenPreviews.tsx
  apps/web/src/components/Feed/PostItem.tsx
  apps/web/src/components/Feed/Posts/PostNftPreview.tsx
  apps/web/src/components/Feed/Posts/PostNfts.tsx
  apps/web/src/components/NftGallery/NftGallery.tsx
  apps/web/src/components/NftPreview/CollectionTokenPreview.tsx
  apps/web/src/components/NftPreview/GalleryNftPreviewWrapper.tsx
  apps/web/src/components/NftPreview/NftPreview.tsx
  apps/web/src/components/NftPreview/NftPreviewBookmarkLabel.tsx
  apps/web/src/contexts/globalLayout/GlobalNavbar/GalleryNavbar/GalleryNavLinks.tsx
  apps/web/src/hooks/api/posts/useAdmireToken.ts
  apps/web/src/hooks/api/posts/useRemoveTokenAdmire.ts
  apps/web/src/icons/BookmarkIcon.tsx
  apps/web/src/scenes/CollectionGalleryPage/CollectionGallery.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageCollectorsTab.tsx
  apps/web/src/scenes/CommunityPage/CommunityPageView.tsx
  apps/web/src/scenes/NftDetailPage/LinkToFullPageNftDetailModal.tsx
  apps/web/src/scenes/NftDetailPage/NftDetailText.tsx
  apps/web/src/scenes/UserGalleryPage/UserGalleryCollection.tsx
Labels: web

#2309 be more selective about disableBookmarkOnHover and insert new edge at start of connection
  apps/web/src/components/Feed/Events/FeedEventNftPreviewWrapper.tsx
  apps/web/src/components/NftPreview/CollectionTokenPreview.tsx
  apps/web/src/hooks/api/posts/useAdmireToken.ts
Labels: web

#2310 Add blue background back for punks
  apps/web/src/utils/token.ts
Labels: web

#2315 update twitter image meta to og server changes
  apps/web/src/utils/openGraphMetaTags.ts
Labels: web

#2306 Follow Button Hover UX on Web
  apps/web/src/components/Follow/FollowButton.tsx
Labels: web

#2314 [GAL-5127] empty share post modal for broken token media fixed
  apps/mobile/src/screens/PostScreen/SharePostBottomSheet.tsx
  apps/web/src/components/Posts/SharePostModal.tsx
  apps/web/src/components/Search/SearchResult.tsx
Labels: mobile, web

#2312 'Featured' text is shown above the notification bug fix
  apps/web/src/components/MultiGallery/Gallery.tsx
Labels: web

#2311 navigate to NftDetailPage from new tokens notification
  apps/mobile/src/components/Notification/Notifications/NewTokens.tsx
  apps/web/src/components/Notifications/Notification.tsx
Labels: mobile, web

#2303 Upgrade moon to v1.21
  apps/mobile/package.json
  apps/web/package.json
  package.json
  yarn.lock
Labels: mobile, web, libraries

#2308 Bookmarks on Mobile
  apps/mobile/src/components/Community/CommunityCollectors.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsGridItem.tsx
  apps/mobile/src/components/Community/CommunityCollectors/CommunityCollectorsGridRow.tsx
  apps/mobile/src/components/Feed/EventTokenGrid.tsx
  apps/mobile/src/components/Feed/Events/CollectionCreatedFeedEvent.tsx
  apps/mobile/src/components/Feed/Events/CollectionUpdatedFeedEvent.tsx
  apps/mobile/src/components/Feed/Events/CollectorsNoteAddedToCollectionFeedEvent.tsx
  apps/mobile/src/components/Feed/Events/GalleryUpdatedFeedEvent.tsx
  apps/mobile/src/components/Feed/Events/NonRecursiveFeedListItem.tsx
  apps/mobile/src/components/Feed/Events/TokensAddedToCollectionFeedEvent.tsx
  apps/mobile/src/components/Feed/FeedListItem.tsx
  apps/mobile/src/components/Feed/Posts/PostListItem.tsx
  apps/mobile/src/components/Gallery/CollectionVirtualizedRow.tsx
  apps/mobile/src/components/Gallery/GalleryTokenPreview.tsx
  apps/mobile/src/components/Gallery/GalleryVirtualizedRow.tsx
  apps/mobile/src/components/GalleryTabs/GalleryTabBar.tsx
  apps/mobile/src/components/NftPreview/NftPreview.tsx
  apps/mobile/src/components/NftPreview/NftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreview.tsx
  apps/mobile/src/components/NftPreview/UniversalNftPreviewContextMenuPopup.tsx
  apps/mobile/src/components/ProfileView/ProfileView.tsx
  apps/mobile/src/components/ProfileView/ProfileViewBookmarkItem.tsx
  apps/mobile/src/components/ProfileView/ProfileViewHeader.tsx
  apps/mobile/src/components/ProfileView/Tabs/ProfileViewBookmarksTab.tsx
  apps/mobile/src/components/ProfileView/Tabs/ProfileViewFeaturedTab.tsx
  apps/mobile/src/components/Text.tsx
  apps/mobile/src/components/Toast/Toast.tsx
  apps/mobile/src/hooks/useToggleTokenAdmire.tsx
  apps/mobile/src/icons/BookmarkIcon.tsx
  apps/mobile/src/navigation/MainTabNavigator/MainTabNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/CollectionScreen/CollectionScreen.tsx
  apps/mobile/src/screens/GalleryScreen/GalleryScreen.tsx
  apps/mobile/src/screens/NftDetailScreen/NftDetailSection.tsx
  apps/mobile/src/screens/ProfileScreen/ProfileScreen.tsx
Labels: mobile

#2307 Onboarding Improvement Mobile
  apps/mobile/src/components/Login/SignInBottomSheet.tsx
  apps/mobile/src/components/Onboarding/OnboardingProgressBar.tsx
  apps/mobile/src/components/PfpPicker/PfpBottomSheet.tsx
  apps/mobile/src/components/Toast/Toast.tsx
  apps/mobile/src/contexts/ManageWalletContext.tsx
  apps/mobile/src/contexts/ToastContext.tsx
  apps/mobile/src/icons/QRCodeIcon.tsx
  apps/mobile/src/icons/WalletIcon.tsx
  apps/mobile/src/navigation/LoginStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/Login/LandingScreen.tsx
  apps/mobile/src/screens/Login/OnboardingEmailScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorContractScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerSingularAsset.tsx
  apps/mobile/src/screens/NftSelectorScreen/useProfilePicture.ts
  apps/mobile/src/screens/Onboarding/OnboardingPersonaScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingProfileBioScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingRecommendedUsers.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
  apps/mobile/src/utils/isFeatureEnabled.tsx
  apps/web/src/components/Email/EmailForm.tsx
  apps/web/src/utils/graphql/isFeatureEnabled.tsx
  packages/shared/src/hooks/useCreateUser.ts
  packages/shared/src/hooks/useUpdateEmail.ts
  schema.graphql
Labels: mobile, web, shared, schema

#2262 [do not merge] Bump max post char count 600 -> 1200
  packages/shared/src/utils/getRemainingCharacterCount.ts
Labels: shared

#2319 [mobile] bump version 1.0.47
  apps/mobile/app.config.ts
Labels: mobile

#2320 add new community frame meta tag data
  apps/web/pages/community/[chain]/[contractAddress]/index.tsx
Labels: web

#2321 Fix secrets
  apps/mobile/app.config.ts
Labels: mobile

#2323 sync token support multiple chain & polish
  apps/mobile/src/components/Onboarding/OnboardingTextInput.tsx
  apps/mobile/src/contexts/SyncTokensContext.tsx
  apps/mobile/src/screens/Login/OnboardingEmailScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingUsernameScreen.tsx
Labels: mobile

#2322 add content field for initial button for frame
  apps/web/pages/community/[chain]/[contractAddress]/index.tsx
  apps/web/src/utils/openGraphMetaTags.ts
Labels: web

#2326 Welcoming User Tooltips
  apps/mobile/package.json
  apps/mobile/src/App.tsx
  apps/mobile/src/components/GalleryBottomSheet/GalleryBottomSheetModal.tsx
  apps/mobile/src/components/WelcomeNewUser.tsx
  apps/mobile/src/components/WelcomeNewUserOnboarding.tsx
  apps/mobile/src/navigation/MainTabNavigator/TabBar.tsx
  apps/mobile/src/screens/HomeScreen/CuratedScreen.tsx
  yarn.lock
Labels: mobile, libraries

#2327 Update unsubscription schema access to latest
  apps/web/src/components/Email/useUpdateEmailNotificationSettings.ts
  apps/web/src/components/Settings/ManageEmailSection/ManageEmailSection.tsx
  schema.graphql
Labels: web, schema

#2329 fix search regex
  packages/shared/src/utils/highlighter.ts
Labels: shared

#2330 [GAL-5222] Community -> Collection in search results
  apps/mobile/src/components/Search/SearchFilter.tsx
  apps/mobile/src/components/Search/SearchResults.tsx
  apps/web/src/components/Search/Community/CommunitySearchResultSection.tsx
  apps/web/src/components/Search/Search.tsx
  apps/web/src/components/Search/SearchFilter.tsx
  apps/web/src/components/Search/SearchResults.tsx
Labels: mobile, web

#2328 Fix new user flow from notification screen
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/Login/NotificationUpsellScreen.tsx
  apps/mobile/src/screens/Login/navigateToNotificationUpsellOrHomeScreen.ts
Labels: mobile

#2333 Update url format for omnibus collection pages (artblocks, prohibition)
  apps/web/pages/[username]/[collectionId]/[tokenId]/index.tsx
  apps/web/pages/community/artblocks/[contractAddress]/[projectId]/index.tsx
  apps/web/pages/community/prohibition/[contractAddress]/[projectId]/index.tsx
  apps/web/src/utils/getCommunityUrl.ts
Labels: web

#2335 add justify space between to nft selector sort dropdown
  apps/web/src/components/NftSelector/NftSelectorFilter/NftSelectorFilterSort.tsx
Labels: web

#2337 GAL-5122 dont render tooltip in IconContainer on mobile
  apps/web/src/components/core/IconContainer.tsx
Labels: web

#2336 GAL-5103 add deep link support for collection page
  apps/mobile/src/components/DeepLinkRegistrar.tsx
Labels: mobile

#2338 Fix onboarding darkmode
  apps/mobile/src/components/WelcomeNewUserOnboarding.tsx
  apps/mobile/src/icons/WalletIcon.tsx
  apps/mobile/src/screens/Onboarding/OnboardingPersonaScreen.tsx
  apps/mobile/src/screens/Onboarding/OnboardingRecommendedUsers.tsx
Labels: mobile

#2340 [mobile] bump version 1.0.49
  apps/mobile/app.config.ts
Labels: mobile

#2341 Refactor loading hierarchy for nft selector to improve perceived speed
  apps/mobile/src/components/PfpPicker/PfpBottomSheet.tsx
  apps/mobile/src/navigation/MainTabNavigator/TabBar.tsx
  apps/mobile/src/navigation/MainTabStackNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/NftSelectorScreen/CreatorSupportAnnouncementBottomSheet.tsx
  apps/mobile/src/screens/NftSelectorScreen/CreatorSupportAnnouncementBottomSheetModal.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerGrid.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreen.tsx
  apps/mobile/src/screens/NftSelectorScreen/NftSelectorPickerScreenFallback.tsx
Labels: mobile

#2342 hide mint button for curated profile page
  apps/web/src/components/MintLinkButton.tsx
  apps/web/src/hooks/oneOffs/useIsCuratedProfilePage.ts
Labels: web
